@charset "UTF-8";
/* CSS Document */

/* font */
/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/NotoSansKR-Thin.woff2) format('woff2'),
       url(/fonts/NotoSansKR-Thin.woff) format('woff'),
       url(/fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NotoSansKR-Light.woff2) format('woff2'),
       url(/fonts/NotoSansKR-Light.woff) format('woff'),
       url(/fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(/fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Regular.woff) format('woff'),
        url(/fonts/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(/fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Medium.woff) format('woff'),
        url(/fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(/fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Bold.woff) format('woff'),
        url(/fonts/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(/fonts/NotoSansKR-Black.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Black.woff) format('woff'),
        url(/fonts/NotoSansKR-Black.otf) format('opentype');
 }
/*** // font ***/
html{height: 100%;}
body{background: #fff; font-family: 'Noto Sans KR'; height: 100%;}
.screen_out{display:block;overflow:hidden;position:absolute;left:-9999px;width:1px;height:1px;font-size:0;line-height:0;text-indent:-9999px}
.bg_yellow{background:#fc0;}

#header{width: 100%;min-width: 1146px;}
#header .header_inner{margin: 0 auto;padding:0;margin: 0 auto;position: relative;}
#header .title{margin: 0;font-size: 0;line-height: 0;text-indent: -9999px;height: 100px;background: url(/img/logo_w.png) 30px 30px no-repeat;background-size: auto 62px;position: absolute;z-index: 999;width: 100%;}
/*
.visual{background:url(/img/main_bg01.png) 50% 0px / cover no-repeat;width: 100%;height: 100%;}
*/
.visual{width: 100%;height: 100%;position: relative;}
.visual .inner{display: table-cell; vertical-align: middle; }
.inner_wrap{width: 1146px;margin: 0 auto;display: table;height: 100%;}
.inner .tit{font-size: 40px;color: #fff;font-weight: 700;margin-bottom:40px;}
.inner .txt{font-size: 28px;color: #fff;font-weight: 300;line-height: 1.2em;}
.main_txt{float: left;}
.login_txt{width: 401px; margin: 0 auto; margin-bottom: 30px; }
.login_txt h2{font-size: 34px; color: #fff; line-height: 1.3em; padding: 0; margin: 0;}
.fw300{font-weight: 300;}
.login_area {display:block;top:51px;width: 401px;margin: 0 auto;}
.login_area h3 {display:none;}
.login_area fieldset {position:relative;height:220px;width: 401px;}
.login_area fieldset .btn_login_black {left:0;bottom:0;width:100%;height:58px;border:0;color:#fff;font-size:13px;font-weight:bold; background:#414141;-webkit-appearance:none;-webkit-border-radius:0;}
.login_area fieldset .btn_login_black:hover {background:#000;}
.login_area fieldset .btn_login_mint {left:0;bottom:0;width:100%;height:58px;border:0;color:#fff;font-size:13px;font-weight:bold; background:#5dd3b6;-webkit-appearance:none;-webkit-border-radius:0;}
.login_area fieldset .btn_login_mint:hover {background:#49cead;}
.login_area .member_id {}
.login_area .member_business {display:none;}
.login_area .login_input {border-top:1px solid #d7d7d9;}
.login_area .login_input p {height:59px;border:1px solid #d7d7d9;border-top:0;background:#f8f8f9;}
.login_area .login_input p input {padding:19px 20px;width: 401px;height:58px;font-size:14px;color:#333;border:0;background:transparent;}
.login_area .login_input p input[placeholder] {font-weight:normal;font-size: 16px;}
.login_area .login_set {margin-top:10px;overflow:hidden;font-size: 18px;}
.login_area .login_set .chk_save {float:left;line-height:1.6;}
.login_area .login_set .chk_save input {margin:-1px 2px 0;}
.login_area .login_set .btn_area {float:right;font-size: 18px;margin-top: 3px;}

.login_area .login_set .btn_area .bar {color:#ccc;}
.login_set > p {color:#fff;}
.login_set > p > a {color:#fff;}
.list_partner{margin: 0; padding: 0 0 80px 0;}
.list_partner:after{clear: both; content: ''; display: block;}
.list_partner li{float: left; width: 33.33333%; list-style: none; text-align: center;}
.partners h2{margin: 0; padding:80px 0 80px 0; text-align: center; font-weight: 700;}
.list_partner h5{font-size: 20px; margin-bottom:15px; font-weight: 500;}
.list_partner p{font-size:15px; font-weight: 300; line-height: 1.5em;}
.list_process{margin: 0; padding: 0 0 80px 0;}
.list_process:after{clear: both; content: ''; display: block;}
.list_process li{float: left; width: 20%; list-style: none; text-align: center; position: relative;}
.list_process h5{font-size: 20px;margin-top:40px;margin-bottom:15px;font-weight: 500;}
.list_process p{font-size: 15px;font-weight: 300;line-height: 1.5em;}
.list_process span img{max-height: 90px;}

.list_process li:after{position: absolute; top: 60px; left: 216px; width: 50px; height: 35px; margin-top: -25px; margin-left: -16px; border-radius: 32px; background: url(/img/arrow_right_black.png) 50% 50% no-repeat;content: '';}
.list_process li:last-child:after{background:none;}

/* main_contact */
.main_contact{background:url(/img/main_bg_03.png) 50% bottom no-repeat; background-size: cover; padding: 100px 0; height: 480px; position: relative;}
.main_contact .wrap_section {position:absolute; top:50%; left:0; width:100%; margin-top:-140px;}
.main_contact .w1000 {position:absolute; top:50%; left:50%;  margin-top:-140px; margin-left:-500px; overflow:hidden;}
.main_contact .txt_contact {float:left;width: 495px;margin:44px 65px 0 0;}
.main_contact .txt_contact h2 {color: #333333;font-weight:bold;font-size:40px;}
.main_contact .txt_contact p {font-size:28px;color: #333333;margin-top:40px;}
.main_contact .input_contact {overflow:hidden;}
.main_contact .input_contact label {display:block; overflow:hidden; width:100%; background:url(/img/white85.png); padding:10px 0; margin-bottom:5px; }
.main_contact .input_contact label span {display:block;float:left;width:82px;line-height:30px;margin:0 10px;color: #a9aaae;font-weight: normal;}
.main_contact .input_contact input[type=text] {display:block;overflow:hidden;width:370px;font-size: 13px;background: none;border: none;padding: 6px;font-weight: normal;color: #000;}
.main_contact .input_contact a {display:block; font-size:13px; color: #fff; font-weight:bold; text-align:center; padding:19px 0; background:#414141;-webkit-appearance:none;-webkit-border-radius:0;}
.main_contact .input_contact a:hover{background: #000; text-decoration: none;}
.w1200{width: 1146px; margin: 0 auto;}


/* footer */
#footer {background: #fff;font-size:14px;color:#aaa;padding:60px 20px;letter-spacing:-0.5px; background:#f8f8f8;}
#footer h2 {text-align:center; padding:60px 0 20px}
#footer h2 img {width:150px; height:auto; }
#footer ul {text-align:center;/* margin-bottom:50px; */}
#footer ul li {display:inline-block; padding:0 4px;}
#footer #foot_info {text-align:center;}
#footer #foot_info span {display:inline-block; position:relative; padding:0 12px 0 9px; line-height:22px;}
#footer #foot_info span:after {position:absolute; top:7px; right:0; height:10px; width:1px; background:#888; content:''}
#footer #foot_info span.bgn::after {display:none;}
#footer #copyright {text-align:center; margin-top:5px; }

.pdl0{padding-left: 0;}
.content_wrap{width: 1146px; margin: 0 auto;}
.register{margin-top:20px;}
.bt {display:inline-block;padding:0 18px;min-width:50px;height:46px;line-height:46px;text-align:center;vertical-align:middle;border:1px solid #ccc; color: #333; background: #fff; background-color: #fff;}
.bt:hover {border:1px solid #000; text-decoration:none; color: #333;}
.form-horizontal .control-label{padding-top: 13px !important;}
.btn-primary{background:#5dd3b6 !important; border-color: #5dd3b6;}


.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control{background: #fff !important;}
.form-control[disabled], fieldset[disabled] .form-control{background-color: #fff !important}
.phone_number{margin: 0; padding:0;}
.phone_number li{list-style: none; float:left; width:73px; margin-right: 8px;}
.phone_number li:last-child{width: 120px;}
.phone_number li select{border-radius: 0;}
.phone_number li:before{content: ''; display: block; clear: both;}

.call_number{margin: 0; padding:0;}
.call_number li{list-style: none; float:left; width:111px; margin-right: 8px;}
.call_number li select{border-radius: 0;}
.call_number li:before{content: ''; display: block; clear: both;}



/* INPUTS */
.inline {
  display: inline-block !important;
}
.input-s-sm {
  width: 120px;
}
.input-s {
  width: 200px;
}
.input-s-lg {
  width: 250px;
}
.i-checks {
  padding-left: 0;
}
.form-control,
.single-line {
  background-color: #FFFFFF;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 1px;
  color: inherit;
  display: block;
  padding: 6px 12px;
  width: 100%;
  font-size: 14px;
}
.form-control:focus,
.single-line:focus {
  border-color: #000 !important;
}
/* /INPUTS */

/* GLOBAL  */
.no-padding {
  padding: 0 !important;
}
.no-borders {
  border: none !important;
}
.no-margins {
  margin: 0 !important;
}
.no-top-border {
  border-top: 0 !important;
}
.ibox-content.text-box {
  padding-bottom: 0;
  padding-top: 15px;
}
.border-left-right {
  border-left: 1px solid #e7eaec;
  border-right: 1px solid #e7eaec;
}
.border-top-bottom {
  border-top: 1px solid #e7eaec;
  border-bottom: 1px solid #e7eaec;
}
.border-left {
  border-left: 1px solid #e7eaec;
}
.border-right {
  border-right: 1px solid #e7eaec;
}
.border-top {
  border-top: 1px solid #e7eaec;
}
.border-bottom {
  border-bottom: 1px solid #e7eaec;
}
.border-size-sm {
  border-width: 3px;
}
.border-size-md {
  border-width: 6px;
}
.border-size-lg {
  border-width: 9px;
}
.border-size-xl {
  border-width: 12px;
}
.full-width {
  width: 100% !important;
}
.link-block {
  font-size: 12px;
  padding: 10px;
}
.nav.navbar-top-links .link-block a {
  font-size: 12px;
}
.link-block a {
  font-size: 10px;
  color: inherit;
}
body.mini-navbar .branding {
  display: none;
}
img.circle-border {
  border: 6px solid #FFFFFF;
  border-radius: 50%;
}
.branding {
  float: left;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  padding: 17px 20px;
  text-align: center;
  background-color: #1ab394;
}
.login-panel {
  margin-top: 25%;
}
.icons-box h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.icons-box .infont a i {
  font-size: 25px;
  display: block;
  color: #676a6c;
}
.icons-box .infont a {
  color: #a6a8a9;
}
.icons-box .infont a {
  padding: 10px;
  margin: 1px;
  display: block;
}
.ui-draggable .ibox-title {
  cursor: move;
}
.ibox {
  clear: both;
  margin-bottom: 25px;
  margin-top: 0;
  padding: 0;
}
.ibox.collapsed .ibox-content {
  display: none;
}
.ibox.collapsed .fa.fa-chevron-up:before {
  content: "\f078";
}
.ibox.collapsed .fa.fa-chevron-down:before {
  content: "\f077";
}
.ibox:after,
.ibox:before {
  display: table;
}
.ibox-title {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ffffff;
  border-image: none;
  border-style: solid solid none;
  border-width: 0 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 30px 15px;
  /* border-bottom: 3px solid #333; */
  min-height: 48px;
}
.ibox-content {
  background-color: #ffffff;
  color: inherit;
  padding: 25px 20px 20px 20px;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 0;
  border-bottom-left-radius: 4px;
  border-top-color: #000;
  border-top-width: 3px;
  border-bottom-right-radius: 4px;
}
.ibox-footer {
  color: inherit;
  border-top: 1px solid #e7eaec;
  font-size: 90%;
  background: #ffffff;
  padding: 10px 15px;
}

.ibox-content {
  clear: both;
}
.ibox-heading {
  background-color: #f3f6fb;
  border-bottom: none;
}
.ibox-heading h3 {
  font-weight: 200;
  font-size: 24px;
}
.ibox-title h5 {
  display: block;
  font-size: 30px;
  margin: 0;
  padding: 0;
  font-weight: bold;
}
.ibox-title h6 {
  display: block;
  font-size: 14px;
  margin: 10px 0 0 0;
  padding: 0;
  font-weight: 300;
  color: #999;
}
.ibox-title .label {
  float: left;
  margin-left: 4px;
}
.ibox-tools {
  display: block;
  float: none;
  margin-top: 0;
  position: relative;
  padding: 0;
  text-align: right;
}
.ibox-tools a {
  cursor: pointer;
  margin-left: 5px;
  color: #c4c4c4;
}
.ibox-tools a.btn-primary {
  color: #fff;
}

.hr-line-dashed {
  border-top: 1px dashed #ccc;
  color: #ffffff;
  background-color: #ffffff;
  height: 1px;
  margin: 20px 0;
}
.hr-line-solid {
  border-bottom: 1px solid #e7eaec;
  background-color: rgba(0, 0, 0, 0);
  border-style: solid !important;
  margin-top: 15px;
  margin-bottom: 15px;
}
/*/ GLOBAL  */

/* file upload */
.filebox input[type="file"] {
    position: absolute;
    width: 1px;
height: 1px; padding: 0; margin: -1px; overflow: hidden; clip:rect(0,0,0,0); border: 0;}

.filebox label {display: inline-block; cursor: pointer;}

/* named upload */
.filebox .upload-name {display: inline-block;}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill{background-color: #fff;}

/* footer */
footer {font-size:14px;color:#fff;padding: 20px;letter-spacing:-0.5px;position: absolute;margin-top: -106px;left: 50%;margin-left: -272px;}
footer #foot_info {text-align: center;font-size: 12px;}
footer #foot_info span {display:inline-block; position:relative; padding:0 12px 0 9px; line-height:22px;}
footer #foot_info span:after {position:absolute; top:7px; right:0; height:10px; width:1px; background:#fff; content:''; opacity: .3; filter:alpha(opacity=30);}
footer #foot_info span.bgn::after {display:none;}
