<!-- Modal -->
<div class="modal fade " id="dialog_user_input" role="dialog">
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="dialog_title" class="modal-title">고객 정보 수정</h4>
			</div>

			<div class="modal_scroll">
			<div class="modal-body br_ccc">
				<div class="row rent_input">
					<!--왼쪽 -->
					<div class="col-md-12">
						<div class="col-sm-6">
							<div class="row">
							<div class="col-md-12">
								<h4>기본정보</h4></div>
							</div>
						<div class="row pdt15">
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">*고객구분</label>
										<div class="col-sm-10">
											<select class="form-control" id="user_status">
												<option>일반</option>
												<option>불량</option>
												<option>특별</option>
											</select>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">이메일</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="user_email" maxlength="30" >
										</div>
									</div>
								</form>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group magb0">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">*고객명</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="user_name" maxlength="10">
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">*생년월일</label>
										<div class="col-sm-4">
											<input type="text" class="form-control" id="birthday" maxlength="6">
										</div>
										<!-- <div class="col-sm-1">
											<p>-</p>
										</div> -->
										<div class="col-sm-2">
											<input type="text" class="form-control" id="gender" maxlength="1">
										</div>
										<div class="col-sm-1 pdl0" style="padding-top:6px;">
										<p>******</p>
										</div>
									</div>
								</form>
							</div>
						</div>
						
						<div class="row">
							
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">우편번호</label>
										<div class="col-sm-10">
											<div class="col-sm-5 pdl0 pdr0">
												<input class="form-control" type="text" id="postcode"  readonly>
											</div>
											<div class="col-sm-4 pdr0">
												<input class="btn btn-default" style="font-size:12px;line-height:1.7;" type="button" onclick="execDaumPostcode()" value="우편번호 찾기">
											</div>	
										</div>
										
									</div>
								</form>
							</div>
							<!-- <div class="col-md-6">
								<form class="form-horizontal"> 
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdr0 pdl0">상세주소</label>
										<div class="col-sm-10">
											<input class="form-control" type="text" id="address">
										</div>
									</div>
								</form>
							</div> -->
						
						</div>

						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal"> 
								<div class="form-group">
									<label class="col-sm-1 control-label text-left pdr0 pdl0">주소</label>
									<div class="col-sm-11">
										<input type="text" class="form-control" id="address" name="" readonly>
									</div>
									</div>
								</form>
							</div>
						</div>
						
						<div class="row">
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">*연락처</label>
										<div class="col-sm-10">
											<input type="number" class="form-control" id="phone_number1" maxlength="11" >
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">긴급 연락처</label>
										<div class="col-sm-10">
											<input type="number" class="form-control" id="phone_number2" maxlength="11" >
										</div>
									</div>
								</form>
							</div>
						</div>
						
						<!-- <div class="row">
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">회사명</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" id="company" value="">
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">사업자번호</label>
										<div class="col-sm-10">
											<input type="" class="form-control" id="auth_code" value="">
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">비고</label>
										<div class="col-sm-11">
											<input type="text" class="form-control" id="note" value="">
										</div>
									</div>
								</form>
							</div>
						</div> -->
						</div>


						<div class="col-sm-6">
							<div class="row">
					<div class="col-md-12"><h4>면허정보</h4></div>
				</div>
				<div class="row pdt15">
					<div class="col-md-6">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">면허정보</label>
								<div class="col-sm-10">
									<div class="panel panel-default">
										<select class="form-control" id="license_type">
											<option>1종 대형</option>
											<option>1종 보통</option>
											<option>2종 보통</option>
											<option>2종 소형</option>
										</select>
									</div>
								</div>
							</div>
						</form>
					</div>
						<div class="col-md-6">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">면허번호</label>
								<div class="col-sm-10">
									<input class="form-control" type="text" id="license_number" maxlength="15" placeholder="면허번호 형식대로 입력해주세요.">
								</div>
							</div>
						</form>
					</div>

				
				</div>


				<div class="row">

					<div class="col-md-6">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">발행일</label>
								<div class="col-sm-10">
									<div class='input-group date'>
									<input id="published_date" class="form-control" data-date-format="yyyy년 mm월 dd일" readonly placeholder="" style="background:#FFF;"/>
										<!-- <span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span> -->
									</div>
								</div>
							</div>
						</form>
					</div>
				
					<div class="col-md-6">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">유효기간</label>
								<div class="col-sm-10">
									<div class='input-group date' >
									<input id="expiration_date" class="form-control" data-date-format="yyyy년 mm월 dd일" readonly placeholder="" style="background:#FFF;"/>
										<!-- <span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span> -->
									</div>
								
								</div>
							</div>
						</form>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdr0">비고</label>
								<div class="col-sm-11">
									<textarea id="input_etc" class="form-control" rows="6" style="resize:none;"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>

				<!-- <div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">면허증 사진</label>
								<div class="col-sm-11">
									<div class="input-group" id="license_div">
										<img src="" id="license_image" class="img-thumbnail" alt="이미지 없음">
									</div>
								</div>
							</div>	
						</form>
					</div>
				</div> -->

			</div>
		</div>
	</div>
</div>
			<div class="modal-body bt_ccc" id="rental_receipt_div">
				<div class="row">
					<div class="col-md-12"><h4>대여 및 수납내역</h4></div>
				</div>
				<div role="tabpanel" class="pdt15">
				  	<ul class="nav nav-tabs" role="tablist">
				    	<li role="presentation" class="active"><a href="#rental_tab" aria-controls="rental_tab" role="tab" data-toggle="tab">대여내역</a></li>
				    	<li role="presentation"><a href="#receipt_tab" aria-controls="receipt_tab" role="tab" data-toggle="tab">수납내역</a></li>
				  	</ul>
				  	<div class="tab-content">
					    <div role="tabpanel" class="tab-pane active" id="rental_tab">
					    	<div id="rental_grid" style="margin-top:10px;"></div>
					    </div>
					    <div role="tabpanel" class="tab-pane" id="receipt_tab">
							<div id="receipt_grid" style="margin-top:10px;"></div>
					    </div>
				  	</div>
				</div>
			</div>
			</div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				<button type="button" class="btn btn-primary" data-toggle="modal" id="btn_register">저장</button>
			</div>
		</div>
	</div>
</div>

<script language="javascript">
// $('#published_date').datepicker({
//   navTitles: {
//    days: 'yyyy-mm-'
//  },
//       //  todayButton: new Date(),
//       clearButton: true,
//       closeButton: true,
//       language: 'en',
//        onSelect: function (fd, d, picker) {
//             // Do nothing if selection was cleared
//             if (!d) return;
            
//             published_date = d.getFullYear()+zeroPad(d.getMonth()+1,2)+zeroPad(d.getDate(),2)+"";
//             // alert(register_day);
//             // alert(accident_time);
//           }

//  });


</script>

<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {

                var fullAddr = ''; 
                var extraAddr = ''; 

                if (data.userSelectedType === 'R') {
                    fullAddr = data.roadAddress;
                } else { 
                    fullAddr = data.jibunAddress;
                }

                if(data.userSelectedType === 'R'){
                    if(data.bname !== ''){
                        extraAddr += data.bname;
                    }
                    if(data.buildingName !== ''){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }

                    fullAddr += (extraAddr !== '' ? ' ('+ extraAddr +')' : '');
                }

                document.getElementById('postcode').value = data.zonecode; 
                document.getElementById('address').value = fullAddr;

                document.getElementById('address').focus();
            }
        }).open();
    }
</script>
<script type="text/javascript">

var $btn_register;
var $user_status;
var $user_email;
var $user_name;
var $birthday;
var $gender;
var $postcode;
var $address;
var $phone_number1;
var $phone_number2;
var $license_type;
var $published_date;
var $expiration_date;
var $license_number;
var $receipt_grid;
var $rental_grid;
var $memo;


$(document).ready(function() {
	initVariables();
	rentalGrid();
	receiptGrid();
	licensenumberKeypressCheck($license_number);
	initDatepicker();
	var numcheckvars=[$birthday,$gender,$phone_number1,$phone_number2];
	for(var i=0;i<numcheckvars.length;++i){ numberKeyupCheck(numcheckvars[i]); }
});

function initVariables() {
	$btn_register = $('#btn_register');
	$user_status =$('#user_status');
	$user_email = $('#user_email');
	$user_name = $('#user_name');
	$birthday = $('#birthday');
	$gender = $('#gender');
	$postcode = $('#postcode');
	$address = $('#address');
	$phone_number1=$('#phone_number1');
	$phone_number2=$('#phone_number2');
	$license_type = $('#license_type');
	$published_date =$('#published_date');
	$expiration_date = $('#expiration_date');
	$license_number=$('#license_number');
	$memo = $('#input_etc');
	$receipt_grid=$('#receipt_grid');
	$rental_grid=$('#rental_grid');	
}

function initDatepicker() {
	$expiration_date.datepicker({
		navTitles: {
		days: 'yyyy-mm-dd'
		},
		clearButton: true,
		closeButton: true,
		language: 'en',
		onSelect: function (fd, d, picker) {
	    	if (!d) return;
	    	expiration_date = d.getFullYear()+zeroPad(d.getMonth()+1,2)+zeroPad(d.getDate(),2)+"";
		}
	});	

	$published_date.datepicker({
		navTitles: {
		days: 'yyyy-mm-dd'
		},
		clearButton: true,
		closeButton: true,
		language: 'en',
		onSelect: function (fd, d, picker) {
	    	if (!d) return;
	    	published_date = d.getFullYear()+zeroPad(d.getMonth()+1,2)+zeroPad(d.getDate(),2)+"";
		}
	});		
}

function receiptGrid() {
    $receipt_grid.kendoGrid({
            // navigatable: true,  
            // selectable: true,
            // allowCopy: true, 
            sortable: true, 
            // filterable: true, 
            // groupable: true, 
            // filterable: true,

            pageable: {
                // input: true,
                messages: {
                    display: "총 {2} 개의 데이터 중 {0}-{1}",
                    empty: "정보 없음"
                }
              },
            noRecords: {
                template: "수납 내역이 없습니다."
              },

            columns: [ {
                    field: "deposite_date",
                    title: "입금일",
                    format: "{0:yyyy년 mm월 dd일}",
                    width: 140
                },  {
                    field: "type",
                    title: "타입",
                    width: 100
                },  {
                    field: "deposite_way",
                    title: "입금 방식",
                    width: 100
                },  {
                    field: "deposite_amount",
                    title: "입금 금액",
                    format: "{0:##,#}원",
                    width: 100
                },  {
                    field: "memo",
                    title: "메모사항",
                    width: 100
                },  {
                    field: "handler",
                    title: "처리자",
                    width: 100
                },  
                // {
                //     field: "deposite_registration_date",
                //     title: "등록일시",
                //     width: 120
                // }
            ]
        });
}

function rentalGrid() {
    $rental_grid.kendoGrid({
            // navigatable: true,  
            // selectable: true,
            // allowCopy: true, 
            sortable: true, 
            // filterable: true, 
            // groupable: true, 
            // filterable: true,

            pageable: {
                // input: true,
                messages: {
                    display: "총 {2} 개의 데이터 중 {0}-{1}",
                    empty: "정보 없음"
                }
              },
            noRecords: {
                template: "대여 내역이 없습니다."
              },
    
            columns: [ 
              	{
                    field: "period_start",
                    title: "대여시작",
                    format: "{0: yyyy년 MM월 dd일 HH시mm분}",
                    width: 200
                },  {
                    field: "period_finish",
                    title: "대여종료",
                    format: "{0: yyyy년 MM월 dd일 HH시mm분}",
                    width: 200
                },  {
                    field: "car_type",
                    title: "차량분류",
                    width: 80
                },  {
                    field: "car_name_detail",
                    title: "차량모델",
                    width: 120
                },  {
                    field: "car_number",
                    title: "차량번호",
                    width: 100
                },  
                {
                    field: "rental_price",
                    title: "대여요금",
                    format: "{0:##,#}원",
                    width: 120
                }
            ]
        });
}

function emailcheck(strValue)
{
    var regExp = /[0-9a-zA-Z][_0-9a-zA-Z-]*@[_0-9a-zA-Z-]+(\.[_0-9a-zA-Z-]+){1,2}$/;
    if(strValue.length == 0 || !strValue.match(regExp))
        {return false;}
    return true;
}

function timecheck(value) {
    var timeExp=/^[0-9]{2}:[0-9]{2}$/;
    if(value.length==0 || !timeExp.test(value)) 
        return false;
    return true;
}

function numbercheck(value) {
    var numExp = /^[0-9]*$/;
    if(value.length==0 || !numExp.test(value)) 
        return false;
    return true;
}

function numberKeyupCheck($obj){
    $obj.keyup(function(){
        var numExp = /^[0-9]*$/;
        var objtext=$obj.val();
        if(!numExp.test(objtext)){
            $obj.val(objtext.slice(0,objtext.length-1));
        }
    })
}

function rangeNumberKeyupCheck($obj,start,end){
    $obj.keyup(function(){
        var numExp = /^[0-9]*$/;
        var objtext=$obj.val().slice(start,end);
        if(!numExp.test(objtext)){
            $obj.val($obj.val().slice(0,objtext.end-1));
        }
    })
}


function licensenumbercheck(value) {
	var licenseExp=/^[0-9]{2}-[0-9]{2}-[0-9]{6}-[0-9]{2}$/;
	if(value.length==0 || !licenseExp.test(value))
		return false;
	return true;
}

function licensenumberKeypressCheck($obj) {
	$license_number.keypress(function(e) {
		if(e.keyCode!=8){
			var objlength=$(this).val().length;
			if(objlength <= 2){
				rangeNumberKeyupCheck($(this),0,objlength);
				if(objlength == 2){
					var a = $(this).val();
					$(this).val(a+"-");
				}
			}
			if(objlength > 3 && objlength <= 5){
				rangeNumberKeyupCheck($(this),4,objlength);
				if(objlength == 5){
					var a = $(this).val();
					$(this).val(a+'-');
				}
			}
			if(objlength > 6 && objlength <= 12){
				rangeNumberKeyupCheck($(this),7,objlength);
				if(objlength == 12){
					var a = $(this).val();
					$(this).val(a+'-');
				}
			}
			if(objlength > 13 && objlength <= 14){
				rangeNumberKeyupCheck($(this),14,objlength);
			}
		}
	});
}


$('#btn_register').click(function() {
	
	var grid = $('#grid').data('kendoGrid'); 
  	var row = grid.select();
  	var data = grid.dataItem(row);
  	var FLAG=true;

  	// if(!emailcheck($user_email.val())) {
  	// 	alert('이메일 입력 형식을 확인해주세요.');
  	// 	$user_email.focus();
  	// 	FLAG=false;
  	// 	return false;
  	// }

  	if($user_name.val()==''){
  		alert('고객 성명을 입력해주세요.');
  		$user_name.focus();
  		FLAG=false;
  		return false;
  	}
  	
  	if(!numbercheck($birthday.val())) {
  		alert('생년월일의 입력 형식을 확인해주세요.');
  		$birthday.focus();
  		FLAG=false;
  		return false;
  	}

  	if(!numbercheck($gender.val())) {
  		alert('생년월일의 입력 형식을 확인해주세요.');
  		$gender.focus();
  		FLAG=false;
  		return false;
  	}

  	if(!numbercheck($phone_number1.val())) {
  		alert('연락처의 입력 형식을 확인해주세요.');
  		$phone_number1.focus();
  		FLAG=false;
  		return false;
  	}

  	// if(!licensenumbercheck($license_number.val())){
  	// 	alert('면허번호의 형식을 확인해주세요.');
  	// 	$license_number.focus();
  	// 	FLAG=false;
  	// 	return false;
  	// }

  	// if($published_date.val()==''){
  	// 	alert('발행일시를 입력해주세요.');
  	// 	$published_date.focus();
  	// 	FLAG=false;
  	// 	return false;
  	// }

  	// if($expiration_date.val()==''){
  	// 	alert('유효기간을 입력해주세요.');
  	// 	$expiration_date.focus();
  	// 	FLAG=false;
  	// 	return false;
  	// }

  	if($gender.val()>=3){
  		var birthday ="20" + $birthday.val();
  	}else{
  		var birthday ="19" + $birthday.val();
  	}
	if(FLAG){
		$.post("/usermanager/user_info_register/",
		{
			user_serial : data.user_serial,
			user_status : $('#user_status option:selected').val(),
			user_email : $user_email.val(),
			user_name : $user_name.val(),
			birthday : birthday,
			gender : $gender.val(),
			postcode : $postcode.val(), 
			address : $address.val(),
			phone_number1 : $phone_number1.val(),
			phone_number2 : $phone_number2.val(),
			license_type : $('#license_type option:selected').val(),
			license_number : $license_number.val(),
			published_date : published_date,
			expiration_date : expiration_date,
			note : $memo.val()
		},
		function(data,status)
		{
			var result = JSON.parse(data);
			if(result.code=="S01"){
				alert('저장되었습니다.');
				$('#dialog_user_input').modal('hide');
				$('#grid').data('kendoGrid').dataSource.read();
				$('#grid').data("kendoGrid").refresh();
				
			} else {
				alert(result.message);
			}
		});	
	}
    
})

</script>
