<!-- Modal -->
<div class="modal fade" id="dialog_blacklist_input" role="dialog">
	<div class="modal-dialog modal_dialog500">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button  id="blacklist_input_close_btn" type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="blacklist_input_dialog_title" class="modal-title">블랙리스트 등록</h4>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">분류</label>
								<div class="col-sm-11">
									<select id="blacklist_select_type" class="form-control">
										<option>반납지연</option>
										<option>렌트비체납</option>
										<option>수리비체납</option>
										<option>도난</option>
										<option>기타</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">이름</label>
								<div class="col-sm-11">
									<input type="text" id="blacklist_input_name" class="form-control" >
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">생년월일</label>
								<div class="col-sm-11">
									<input type="text" id="blacklist_input_birthday" class="form-control" >
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">연락처</label>
								<div class="col-sm-11">
									<input type="number" id="blacklist_input_tel" class="form-control" >
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">긴급 연락처</label>
								<div class="col-sm-11">
									<input type="number" id="blacklist_input_phone" class="form-control" >
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">발생일시</label>
								<div class="col-sm-11">
									<div class='input-group date'>
									<input type='text' class="form-control" id="blacklistday" data-date-format="yyyy년 mm월 dd일" readonly placeholder="" style="background:#FFF;"/>
										<!-- <span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span> -->
									</div>
									<script language="javascript">
		                                $('#blacklistday').datepicker({
		                                  navTitles: {
		                                   days: 'yyyy년 mm월'
		                                 },
		                                      //  todayButton: new Date(),
		                                      clearButton: true,
		                                      closeButton: true,
		                                      language: 'en',
		                                       onSelect: function (fd, d, picker) {
		                                            // Do nothing if selection was cleared
		                                            if (!d) return;
		                                            
		                                            register_day = d.getFullYear()+zeroPad(d.getMonth()+1,2)+zeroPad(d.getDate(),2)+"";
		                                          }

		                                 })
		                             </script>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">발생장소</label>
								<div class="col-sm-11">
									<input type="text" id="blacklist_input_place" class="form-control" placeholder="시와 구까지 표시, 예)부산시 해운대구">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">내용</label>
								<div class="col-sm-11">
									<textarea id="blacklist_input_detail" class="form-control" style="height:auto;" rows="7" disabled></textarea>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">비고</label>
								<div class="col-sm-11">
									<input type="text" id="blacklist_input_note" class="form-control">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal-footer">
				<button id="blacklist_delete_btn" type="button" class="btn btn-default pull-left" data-dismiss="modal">삭제</button>
				<button id="blacklist_close_btn" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				<button id="blacklist_save_btn" type="button" data-toggle="modal" class="btn action_btn">저장</button>
			</div>
		</div>
	</div>
</div>
