@charset "UTF-8";

html{background:#e9ebee !important;}
body{padding-right: 0 !important; background: #e9ebee;}
.navbar{margin-bottom:0 ;}
.btn-group-vertical>.btn-group:after, .btn-group-vertical>.btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after,
.modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before{display: table; content: '';}

#page-wrapper {
  padding: 15px;
  min-height: 568px;
  background-color: white;
}
@media (min-width: 768px) {
  #page-wrapper {
    position: inherit;
    margin: 0 0 0 250px;
    padding:30px;
    border-left: 1px solid #e7e7e7;
    background: #e9ebee;
  }
}


.bg_mint{background:#5dd3b6 !important; color: #fff !important; border-color: #5dd3b6 !important;}
.display-block{display: inline-block;}
.bg_f8f8f8{background-color: #f8f8f8;}
.form-horizontal .control-label{letter-spacing: -0.6px;}
.modal-lg{width: 1250px !important;}
.modal-dialog{width: 800px;}
.modal-body{padding: 18px 30px;}
.list_data_box>div{border-bottom:1px solid #ddd; margin-bottom:20px; overflow: hidden; padding-bottom: 5px;}
.list_data_box2>div{border-bottom:1px solid #ddd; margin-bottom:0px; overflow: hidden; padding-bottom: 5px;}
.list_data_box_last>div{border-bottom:1px solid #ddd; margin-bottom:5px; overflow: hidden; padding-bottom: 5px;}
.border_gray{border-color:#ddd ;}

.panel-footer{padding: 15px;}
.panel-warning{border-color: #f8ac59; }
.panel-warning>.panel-heading{background:#f8ac59; color: #fff;}
.panel-warning>.panel-body{background:#fff; }
/* BACKGROUNDS */
.gray-bg,
.bg-muted {
  background-color: #f3f3f4;
}
.white-bg {
  background-color: #ffffff;
}
.navy-bg,
.bg-success {
  background-color: #1ab394;
  color: #ffffff;
}
.blue-bg,
.bg-primary {
  background-color: #1c84c6;
  color: #ffffff;
}
.lazur-bg,
.bg-info {
  background-color: #23c6c8;
  color: #ffffff;
}
.yellow-bg,
.bg-warning {
  background-color: #f8ac59;
  color: #ffffff;
}
.red-bg,
.bg-danger {
  background-color: #ed5565;
  color: #ffffff;
}
.black-bg {
  background-color: #262626;
}

.bg_fff{background: #fff ;}
.bg_gray{background: #f3f3f4;}
.bg_main{background: #d1dade !important;color: #444 !important;border-color:#ffcc00;} 
.bg_red{background:#f44336; color: #fff;}
.bg_indigo{background: #3F51B5; color:#fff;}
.bg_teal{background: #009688; color: #fff;}
.bg_yellow{background: #fdd000; color: #000;}
.bg_primary{background: #1c84c6;color:#fff;}
.bg_success{background: #1ab394;color:#fff;}
.bg_info{background: #ed5565;color:#fff;}
.bg_waming{background: #23c6c8;color: #fff;}
.bg_danger{background: #f8ac59;color:#fff;}

.bg_deep_purple{background: #d1dade;color: #5e5e5e;}
.bg_deep_purple:hover{color: #5e5e5e !important;}

.text-point{cursor:pointer;}
.input-daterange .input-group-addon .bg_waming{background:#f0ad4e; }

.공휴일{color:#ed5565;}
.예약{background: #286090; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.운행{background: #5cb85c; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.반납{background: #5bc0de; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.대기중{background: #5bc0de; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.장기{background: #f0ad4e; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.보험{background: #d9534f; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.미운행{background: #fa2828; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.정상{background: #2f4050; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.수리중{background: #fcc104; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.검사중{background: #5dd3b6; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.폐차{background: #3766b4; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}
.매각{background: #4b96e7; padding:6px 20px; color: #fff; border-radius:4px; min-width: 40px; text-align:center; display:block;}

.오늘{background:#fafafc;}
.토요일{position: relative;color: #407bbb;}
.토요일:after{content: '';position: absolute;right: 50%;margin: -18px -2.5px 0 0;z-index: 1;top: 50%;width: 5px;height: 5px;background-color: #407bbb;border-radius: 50%;}
.일요일{position: relative;color: #cd190b;}
.일요일:after{content: '';position: absolute;right: 50%;margin: -18px -2.5px 0 0;z-index: 1;top: 50%;width: 5px;height: 5px;background-color: #cd190b;border-radius: 50%;}

.f_미운행{color: #fa2828;}
.f_검사중{color: #5dd3b6;}
.f_정상{color: #2f4050ㅁ;}
.f_수리중{color: #fcc104;}
.f_폐차{color: #3766b4;}
.f_매각{color: #4b96e7;}
.f_전체{color: #b96846;}

.lh40{line-height: 40px;}
.lh60{line-height: 60px;}
.lh80{line-height: 80px;}

.b_r4{border-radius: 4px;}
.b_ccc{border:1px solid #e6e6e6;}
.br_ccc{border-right:1px solid #e6e6e6;}
.bl_ccc{border-left:1px solid #e6e6e6;}
.bb_ccc{border-bottom:1px solid #e6e6e6;}
.bt_ccc{border-top:1px solid #e6e6e6 !important;}
.b_e6e6{border:1px solid #e6e6e6;}
.br_e6e6{border-right:1px solid #e6e6e6;}
.bl_e6e6{border-left:1px solid #e6e6e6;}
.bb_e6e6{border-bottom:1px solid #e6e6e6;}
.bt_e6e6{border-top:1px solid #e6e6e6 !important;}
.bt0{border-top:0 !important;}

.bt_gray{border-top: 1px solid #e7eaec;}
.bl_gray{border-left: 1px solid #e7eaec;}
.br_gray{border-right: 1px solid #e7eaec;}
.bb_gray{border-bottom: 1px solid #e7eaec;}
.b_gray{border: 1px solid #e7eaec;}

.overhidden{overflow:hidden;}
.w100{width: 100% !important;}
.pdb0{padding-bottom:0 !important;}
.pdb5{padding-bottom:5px;}
.pdb10{padding-bottom:10px;}
.pdb15{padding-bottom:15px !important;}
.pdt0{padding-top:0px !important;}
.pdt5{padding-top:5px;}
.pdt7{padding-top:7px;}
.pdt10{padding-top:10px;}
.pdt15{padding-top:15px !important;}
.pdt20{padding-top:20px;}
.pdt30{padding-top:30px;}
.pdl0{padding-left:0 !important;}
.pdl5{padding-left:5px ;}
.pdl10{padding-left:10px ;}
.pdl15{padding-left:15px ;}
.pdl20{padding-left:20px ;}
.pdl30{padding-left:30px ;}
.pdl35{padding-left:35px ;}
.pdl40{padding-left:40px ;}
.pdl50{padding-left:50px ;}
.pdr0{padding-right:0 !important;}
.pdr5{padding-right:5px ;}
.pdr10{padding-right:10px ;}
.pdr15{padding-right:15px ;}
.pdr20{padding-right:20px ;}
.pdr30{padding-right:30px ;}
.pdr35{padding-right:35px ;}
.pdr40{padding-right:40px ;}
.pdr50{padding-right:50px ;}
.mgt20{margin-top:20px ;}

.mgr10{margin-right:10px ;}
.mgr15{margin-right:15px ;}
.mgr20{margin-right:20px ;}
.mgr30{margin-right:30px !important;}
.mgr40{margin-right:40px !important;}
.mgr50{margin-right:50px ;}

.magl10{margin-left:10px ;}
.magl20{margin-left:20px ;}
.magl30{margin-left:30px !important;}
.magl40{margin-left:40px !important;}
.magl50{margin-left:50px ;}

.magt0{margin-top:0 !important;}
.magt5{margin-top:5px;}
.magt20{margin-top:20px;}

.magb0{margin-bottom:0px;}
.mgb10{margin-bottom:10px ;}
.magb20{margin-bottom:20px ;}
.magb40{margin-bottom:40px ;}

.mh100{min-height: 100px}

.row_mag{margin-left:0; margin-right:0;}
.h83{height: 83px;}
.p_scroll{overflow-x: scroll;}
.text-center{text-align: center !important;}
.glyphicon{font-family: 'Glyphicons Halflings' !important;}
.p_tit{margin:20px 0 0 0;}
.border_none{border:none !important;}
/*
.btn-default.active, .btn-default.focus, .btn-default:active, .btn-default:focus, .btn-default:hover, .open>.dropdown-toggle.btn-default{color: #000 ; background-color: #fdd000 ; border-color: #fdd000 ; outline: none ;}


/*차량관리*/

.btn_box>span{display: inline-block; padding: 6px 20px;margin-bottom: 0; font-size: 14px; font-weight: 400; line-height: 1.42857143; text-align: center; white-space: nowrap; vertical-align: middle; border-radius: 4px;}
.btn_schedule button{border-bottom:0;}
.btn_schedule .btn:first-child:not(:last-child):not(.dropdown-toggle){border-bottom-left-radius:0;}
.btn_schedule>.btn:last-child:not(:first-child), .btn_schedule>.dropdown-toggle:not(:first-child){border-bottom-right-radius:0;}
.schedule{border:1px solid #ccc;}
.schedule .row{margin: 0;}
.schedule::after, .schedule::before{clear: both; display: table; content: '';}
.schedule_time{}
.day{width:1920px !important;}
.time{width: 4608px !important;}
.day_time6{width: 288px !important;}
.day_time12{width: 576px !important;}
.day_time18{width: 864px !important;}
.day_time{width: 1152px !important;}
.schedule_time_wrap>.schedule_time>#this_month_day_name{height: 49px;}
.schedule_time_wrap::after, .schedule_time_wrap::before{clear: both; display: table; content: '';}
.schedule_time{float: left; display: inline-block;}
.schedule_time ul::after, .schedule_time ul::before{clear: both; display: table; content: '';}
.schedule_time ul{margin: 0;padding: 0;border-top: 1px solid #e6e6e6;}
.schedule_time ul:first-child{border-top:0;}
.schedule_time ul li{float: left;border-right: 1px solid #e6e6e6;list-style: none;padding: 0px 10px;margin: 0;width:48px;text-align: center;height: 48px;line-height: 48px;}
.schedule_time ul li:last-child{border-right:0;}
.schedule_time ul li:first-child{}
.month28{width: 1344px !important;}
.month29{width: 1392px !important;}
.month30{width: 1440px !important;}
.month31{width: 1488px !important;}
.schedule_data{position:relative;}
.schedule_data>div{margin:0;}
.schedule_car>div{height:147px; line-height: 147px; vertical-align: middle;}
.schedule_car::after, .schedule_car::before{clear: both; display: block; content: '';}
.schedule_car_data_list{border-top: 1px solid #e6e6e6;}
.schedule_car_data_list::after, .schedule_car_data_list::before{clear: both; display: block; content: '';}
.schedule_car_data_list>div{height: 48px; line-height: 48px; }
.schedule_sale a:hover, .schedule_sale a:focus, .schedule_sale a:active, .schedule_sale a:visited, .schedule_sale a:link{text-decoration: none; color:#fff;}
.schedule_list a:hover, .schedule_list a:focus, .schedule_list a:active, .schedule_list a:visited, .schedule_list a:link{text-decoration: none; color:#fff;}
.sale{position:absolute; display: block; text-align: center; line-height: 48px;}
.schedule_list{position:absolute; display: block; text-align: center; line-height: 48px;}
.schedule_list span{display: block; overflow: hidden; max-width: 80px; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; margin:0 auto;}
.sale span{display: block; overflow: hidden; max-width: 80px; white-space: nowrap; word-break: break-all; text-overflow: ellipsis; margin:0 auto;}
.cash_data{width: 800px;max-height: 117px;height: 117px;}
.cash_data::after, .cash_data::before{clear: both; display: block; content: '';}
.cash_data ul li{float: left;width: 100px;border-right: 1px solid #ccc;text-align: center;border-bottom:1px solid #ccc;padding: 10px 0;font-size: 10px;}
.cash_data ul li:last-child{border-right: 0;}
.rent_btn{display: inline-block; margin:20px 0 0 15px;}

.modal-body{background: #f8f8f8;}
.modal-open{padding-right: 0 !important;}
.magt20_p{margin-top:10% !important;}

.check_box{width: 100%; padding: 6px 12px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; text-align:left;}
.check_box2{padding: 10px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #ccc;border-radius: 4px;-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);box-shadow: inset 0 1px 1px rgba(0,0,0,.075);-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; text-align:center;}
/*
.check_box2>.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline{padding-top: 0;}
*/
.box_txt .form-control-feedback{right:21px !important; width:initial !important;}
.tab-content{background: #fff; padding: 15px; border-right: 1px solid #ddd; border-left:1px solid #ddd; border-bottom:1px solid #ddd;}
.vehicle_info{padding: 15px 15px 10px 15px;}
.vehicle_info span.label{font-size:11px; display: inline-block; font-weight: 400; margin-bottom:5px; padding: 0.5em; background: #fff; border: 1px solid #ccc; color: #777;}
.dialog_car_info .checkbox{padding-top: 0;padding-left: 0;}
.long_time_discount{position: relative;}
.long_time_discount input{padding-right: 53px; text-align: right;}
.long_time_discount span{position: absolute; right:24px; top:7px;}

.price input{text-align: right; padding-right: 23px; position: relative;}
.price span{position: absolute; right:24px; top:7px; font-size:12px;}
.percent{position: relative;}
.percent input{text-align: right; padding-right: 23px;}
.percent span{position: absolute; right:24px; top:7px; font-size:12px;}
.time_p{position: relative;}
.time_p select{text-align: right; padding-right: 30px;}
.time_p span{position: absolute; right:31px; top:7px; font-size:12px;}
.time_p .time_p2{right: 15px;}
.km{position: relative;}
.km input{text-align: right; padding-right: 32px;}
.km span{position: absolute; right:24px; top:7px; font-size:12px;}
.accep_price{right:11px !important ;}
.year{position: relative;}
.year input{text-align: right; padding-right: 23px;}
.year span{position: absolute; right:24px; top:7px; font-size:12px;}

.switchery {
    background-color: #fff;
    border: 1px solid #dfdfdf;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
    height: 30px;
    position: relative;
    vertical-align: middle;
    width: 50px;

    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.switchery > small {
    background: #fff;
    border-radius: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
    height: 30px;
    position: absolute;
    top: 0;
    width: 30px;
}

#rent_left_header{overflow-y:hidden; overflow-x:hidden; background-color:#fafafc;}
#rent_left_header>.rent_left_header_content{display: table; table-layout: fixed; width:100%;}
div#rent_left_contents{float:left; overflow-y:hidden; overflow-x: hidden; height:500px; height:expression(100-17);}
#rent_left_contents>.rent_left_contents_content{table-layout:fixed; display: table; width:100%;}
#rent_right_header{overflow-y: hidden; overflow-x:hidden; width: 100%;}
#rent_right_header>.rent_right_header_content{table-layout:fixed; display:table; width:1920px; position: relative;}
#rent_right_contents{overflow-y: auto;overflow-x: hidden;/* width: 1938px; */height:518px;}
#rent_right_contents>.rent_right_contents_content{table-layout: fixed; width: 1920px; position: relative;}

.cropper-container{position:relative;overflow:hidden;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none}.cropper-container img{width:100%;height:100%;min-width:0!important;min-height:0!important;max-width:none!important;max-height:none!important}.cropper-modal,.cropper-canvas{position:absolute;top:0;right:0;bottom:0;left:0}.cropper-canvas{background-color:#fff;opacity:0;filter:alpha(opacity=0)}.cropper-modal{background-color:#000;opacity:.5;filter:alpha(opacity=50)}.cropper-dragger{position:absolute;top:10%;left:10%;width:80%;height:80%}.cropper-viewer{display:block;width:100%;height:100%;overflow:hidden;outline-width:1px;outline-style:solid;outline-color:#69f;outline-color:rgba(51,102,255,.75)}.cropper-dashed{position:absolute;display:block;border:0 dashed #fff;opacity:.5;filter:alpha(opacity=50)}.cropper-dashed.dashed-h{top:33.3%;left:0;width:100%;height:33.3%;border-top-width:1px;border-bottom-width:1px}.cropper-dashed.dashed-v{top:0;left:33.3%;width:33.3%;height:100%;border-right-width:1px;border-left-width:1px}.cropper-face,.cropper-line,.cropper-point{position:absolute;display:block;width:100%;height:100%;opacity:.1;filter:alpha(opacity=10)}.cropper-face{top:0;left:0;cursor:move;background-color:#fff}.cropper-line{background-color:#69f}.cropper-line.line-e{top:0;right:-3px;width:5px;cursor:e-resize}.cropper-line.line-n{top:-3px;left:0;height:5px;cursor:n-resize}.cropper-line.line-w{top:0;left:-3px;width:5px;cursor:w-resize}.cropper-line.line-s{bottom:-3px;left:0;height:5px;cursor:s-resize}.cropper-point{width:5px;height:5px;background-color:#69f;opacity:.75;filter:alpha(opacity=75)}.cropper-point.point-e{top:50%;right:-3px;margin-top:-3px;cursor:e-resize}.cropper-point.point-n{top:-3px;left:50%;margin-left:-3px;cursor:n-resize}.cropper-point.point-w{top:50%;left:-3px;margin-top:-3px;cursor:w-resize}.cropper-point.point-s{bottom:-3px;left:50%;margin-left:-3px;cursor:s-resize}.cropper-point.point-ne{top:-3px;right:-3px;cursor:ne-resize}.cropper-point.point-nw{top:-3px;left:-3px;cursor:nw-resize}.cropper-point.point-sw{bottom:-3px;left:-3px;cursor:sw-resize}.cropper-point.point-se{right:-3px;bottom:-3px;width:20px;height:20px;cursor:se-resize;opacity:1;filter:alpha(opacity=100)}.cropper-point.point-se:before{position:absolute;right:-50%;bottom:-50%;display:block;width:200%;height:200%;content:" ";background-color:#69f;opacity:0;filter:alpha(opacity=0)}@media (min-width:768px){.cropper-point.point-se{width:15px;height:15px}}@media (min-width:992px){.cropper-point.point-se{width:10px;height:10px}}@media (min-width:1200px){.cropper-point.point-se{width:5px;height:5px;opacity:.75;filter:alpha(opacity=75)}}.cropper-hidden{display:none!important}.cropper-invisible{position:fixed;top:0;left:0;z-index:-1;width:auto!important;max-width:none!important;height:auto!important;max-height:none!important;opacity:0;filter:alpha(opacity=0)}.cropper-move{cursor:move}.cropper-crop{cursor:crosshair}.cropper-disabled .cropper-canvas,.cropper-disabled .cropper-face,.cropper-disabled .cropper-line,.cropper-disabled .cropper-point{cursor:not-allowed}
.modal{overflow: hidden !important;}
.w700{width: 700px !important;}


.tit_item {background:#fff;box-sizing:border-box;}
.tit_item input {display:none;}
.tit_item label {display:block;height:48px;background: url(../img/width_off.png) 50% 50% no-repeat #fafafc;color:#666;font-size:15px;}
.tit_item label strong {font-weight:normal; letter-spacing:-1px; text-align:center;}
.tit_item label span {display:block; font-size:13px; text-align:center;}
.tit_item input[type=checkbox]:checked + label {background-image:url(../img/width_on.png); background-color:#fff; color:#222}

.insurance_item {box-sizing:border-box; width: 60px;}
.insurance_item input {display:none;}
.insurance_item label {display:block;height:34px;background: url(../img/width_off.png) 50% 50% no-repeat;color:#666;font-size:15px;}
.insurance_item label strong {font-weight:normal; letter-spacing:-1px; text-align:center;}
.insurance_item label span {display:block; font-size:13px; text-align:center;}
.insurance_item input[type=checkbox]:checked + label {background-image:url(../img/width_on.png); color:#222}
.insurance_txt{margin: 7px 0 0 2px;font-size: 14px; color: #757271;}
.insurance_item input[type=checkbox]:checked + .insurance_txt{color: #333;}


#this_month_day_name{background-color: #fafafc;}
#this_month_day_number{background-color: #fafafc;}
#this_month_day_cell{background-color: #fafafc;}


.scheduler_box{padding: 0; margin: 0; border:1px solid #ddd; border-right:none; border-bottom: none;}
.scheduler_box li{list-style: none; height: 445px; border-bottom: 1px solid #ddd;}
.scheduler_box li:firsh-child{height: 446px;}

.time_header li{float: left; margin-right:8px;}
.time_header li>a{width: 45px;}
.time_header::after{clear: both; content: ''; display: block;}

/*kendo*/
.k-grid td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: center;
}
/* background:#00b0ff;*/
.k-gantt .k-treelist .k-alt.k-state-selected, .k-gantt .k-treelist .k-alt.k-state-selected>td, .k-gantt .k-treelist .k-state-selected, .k-gantt .k-treelist .k-state-selected td, .k-grid td.k-state-selected, .k-grid td.k-state-selected.k-state-focused, .k-grid tr.k-state-selected, .k-listview>.k-state-selected, .k-marquee-color, .k-scheduler .k-today.k-state-selected, .k-scheduler-layout .k-state-selected, .k-state-selected.k-line{background: #5dd3b6 !important;}
.k-grid td.k-state-selected, .k-grid tr.k-state-selected>td{background: #5dd3b6 !important; border-color:#8aecd4 !important;}


.car_allocation_wrap .k-header{background-color:#5dd3b6 !important; border-color: #5dd3b6 !important;}
.car_allocation_wrap .k-scheduler .k-header .k-link{background-color:#5dd3b6 !important; border-color: #5dd3b6 !important;}
.k-pager-numbers .k-state-selected{border-color:#5dd3b6 !important; color: #20c79e !important;}
/*scheduler

.car_allocation_wrap>.k-autocomplete, .k-button, .k-draghandle, .k-dropdown-wrap, .k-grid-header, .k-grouping-header, .k-header, .k-numeric-wrap, .k-pager-wrap, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap, .k-progressbar, .k-state-highlight, .k-tabstrip-items .k-item, .k-textbox, .k-toolbar, .km-pane-wrapper>.km-pane>.km-view>.km-content{background:#5dd3b6 !important; background-color:#5dd3b6 !important;}
.car_allocation_wrap>.k-gantt-toolbar .k-button, .k-gantt>.k-header .k-link, .k-gantt>.k-header li, .k-grid .k-header .k-button, .k-scheduler .k-header .k-button, .k-scheduler .k-header .k-link, .k-scheduler .k-header li, .km-pane-wrapper .k-header .k-button{background:#5dd3b6 !important; border-color: #5dd3b6 !important;}
.car_allocation_wrap>.k-current-time{background:#5dd3b6 !important;}
.car_allocation_wrap>.k-current-time-arrow-right{border-left: #5dd3b6 !important;}
.car_allocation_wrap>.k-scheduler-table .k-today, .k-today>.k-scheduler-datecolumn, .k-today>.k-scheduler-groupcolumn{background-color: #eee !important;}
.car_allocation_wrap>.k-today strong{color: #5dd3b6 !important;}
.car_allocation_wrap>.k-scheduler-table th strong{font-weight: 700 !important; color: #555c63;}
.car_allocation_wrap>.k-scheduler-table th{color: #555c63; font-weight: 700;}
.car_allocation_wrap>.k-calendar td.k-state-selected{background-color: ##5dd3b6 !important;}
/*scheduler*/


/*toggle */
.checkbox label .toggle,.checkbox-inline .toggle{margin-left:-20px;margin-right:5px}
.toggle{position:relative;overflow:hidden}
.toggle input[type=checkbox]{display:none}
.toggle-group{position:absolute;width:200%;top:0;bottom:0;left:0;transition:left .35s;-webkit-transition:left .35s;-moz-user-select:none;-webkit-user-select:none}
.toggle.off .toggle-group{left:-100%}
.toggle-on{position:absolute;top:0;bottom:0;left:0;right:50%;margin:0;border:0;border-radius:0}
.toggle-off{position:absolute;top:0;bottom:0;left:50%;right:0;margin:0;border:0;border-radius:0}
.toggle-handle{position:relative;margin:0 auto;padding-top:0;padding-bottom:0;height:100%;width:0;border-width:0 1px}
.toggle.btn{min-width:59px;min-height:34px}
.toggle-on.btn{padding-right:24px}
.toggle-off.btn{padding-left:24px}
.toggle.btn-lg{min-width:79px;min-height:45px}
.toggle-on.btn-lg{padding-right:31px}
.toggle-off.btn-lg{padding-left:31px}
.toggle-handle.btn-lg{width:40px}
.toggle.btn-sm{min-width:50px;min-height:30px}
.toggle-on.btn-sm{padding-right:20px}
.toggle-off.btn-sm{padding-left:20px}
.toggle.btn-xs{min-width:35px;min-height:22px}
.toggle-on.btn-xs{padding-right:12px}
.toggle-off.btn-xs{padding-left:12px}




.nav-tabs>li>a {margin-right: 0; line-height: 1.42857143; border: 1px solid transparent; border-radius: 4px 4px 0 0; border-top: 1px solid #ddd; border-right: 1px solid #ddd; background: #fff; margin: 0; font-weight: normal !important;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{color: #5e5e5e;cursor: default;background-color: #d1dade;border: 1px solid #d1dade;border-bottom-color: transparent; font-weight: normal;}
.nav-tabs>li a:first-child{border-left: 1px solid #ddd;}


.modal_scroll{overflow-y: auto; overflow-x: hidden;}

#rent_management #btn_date:hover{background-color: #d1dade; color: #444;}
#rent_management #btn_hour:hover{background-color: #d1dade; color: #444;}
#rent_management #btn_date, #rent_management #btn_hour{background-color: #fff;color: #777;border-color: #ccc;}


.section_lnb{background-color: #fafafc; padding: 0; margin: 0;}
.section_lnb .nav-tabs{border:none;background:inherit;border-left: 1px solid #ddd;border-right: 1px solid #ddd;}
.section_lnb .nav-tabs li{border:none; background:inherit;}
.section_lnb .nav-tabs li:first-child{margin-left:15px;}
.section_lnb .nav-tabs li a{font-weight: normal; border:none; color: #757271; background:inherit;}
.section_lnb .nav-tabs li a:hover{color: #3a3635;}
.section_lnb .nav-tabs>li.active>a, .section_lnb .nav-tabs>li.active>a:focus, .section_lnb .nav-tabs>li.active>a:hover{background:inherit; border: none; border-bottom:3px solid#ed5565; color: #3a3635;}
.section_lnb .nav > li > a{padding: 20px;}


/* modal font-size */
.modal .form-horizontal label.control-label{font-size:11px; font-weight: normal;}
.modal .form-control{height: 29px; font-size: 11px;}
.modal .input-group-addon{font-size:11px;}
.modal .nav-tabs>li{font-size:12px;}
.modal button{font-size: 11px;}
.modal-header button{font-size: 14px;}
.modal .panel{margin-bottom: 0;}