@charset "utf-8";
/* CSS Document */

/* font */
/*
* Noto Sans KR (korean) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 100;
  src: url(/fonts/NotoSansKR-Thin.woff2) format('woff2'),
       url(/fonts/NotoSansKR-Thin.woff) format('woff'),
       url(/fonts/NotoSansKR-Thin.otf) format('opentype');
}
@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 300;
  src: url(/fonts/NotoSansKR-Light.woff2) format('woff2'),
       url(/fonts/NotoSansKR-Light.woff) format('woff'),
       url(/fonts/NotoSansKR-Light.otf) format('opentype');
}
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 400;
   src: url(/fonts/NotoSansKR-Regular.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Regular.woff) format('woff'),
        url(/fonts/NotoSansKR-Regular.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 500;
   src: url(/fonts/NotoSansKR-Medium.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Medium.woff) format('woff'),
        url(/fonts/NotoSansKR-Medium.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 700;
   src: url(/fonts/NotoSansKR-Bold.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Bold.woff) format('woff'),
        url(/fonts/NotoSansKR-Bold.otf) format('opentype');
 }
@font-face {
   font-family: 'Noto Sans KR';
   font-style: normal;
   font-weight: 900;
   src: url(/fonts/NotoSansKR-Black.woff2) format('woff2'),
        url(/fonts/NotoSansKR-Black.woff) format('woff'),
        url(/fonts/NotoSansKR-Black.otf) format('opentype');
 }
/*** // font ***/

html, body, div, p, ul, ol, li, dl, dt, dd, table, tr, th, td, span, img, b, input, button, textarea, label, a, h1, h2, h3, h4, h5, strong{font-family: 'NotoSans_Regular' ,'Noto Sans KR', 'Open Sans', 'Glyphicons Halflings', sans-serif !important}

.navbar-default{background: #f3f3f4!important;border:none !important;}
.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 16px;
  font-weight: 200;
  background-color: #2f4050;
  position: fixed;
  top: 0px;
  width: 250px;
  height: 100%;
  color: #333;
  z-index: 999;
  /* border-right: 1px solid #ccc; */
}
.nav-side-menu .brand {
  display: block;
  text-align: center;
  font-size: 14px;
  display: table;
}
.nav-side-menu .brand img{width: 100%; max-width: 70px;}
.nav-side-menu .toggle-btn {
  display: none;
}
.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  /*
    .collapsed{
       .arrow:before{
                 font-family: FontAwesome;
                 content: "\f053";
                 display: inline-block;
                 padding-left:10px;
                 padding-right: 10px;
                 vertical-align: middle;
                 float:right;
            }
     }
*/
}
.arrow{font-size:12px;}
.nav-side-menu ul :not(collapsed) .arrow:before,
.nav-side-menu li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  padding-top: 4px;
  float: right;
}
.nav-side-menu ul .active,
.nav-side-menu li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}
.nav-side-menu ul .sub-menu li.active,
.nav-side-menu li .sub-menu li.active {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li.active a,
.nav-side-menu li .sub-menu li.active a {
  color: #d19b3d;
}
.nav-side-menu ul .sub-menu li,
.nav-side-menu li .sub-menu li {
  background-color: #293846;
  border: none;
  margin-left: 0px;
  border-left: 3px solid #f8ac59;
}
.nav-side-menu ul .sub-menu li a, .nav-side-menu li .sub-menu li a{text-decoration: none;color: #a7b1c2;font-weight: 300;padding: 15px 20px 15px 80px;display: block;}
.nav-side-menu ul .sub-menu li:hover a,
.nav-side-menu li .sub-menu li:hover a{
  color: #fff;
}
.nav-side-menu ul .sub-menu li:before,
.nav-side-menu li .sub-menu li:before {
  font-family: FontAwesome;
  content: "\f105";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  position: absolute;
  top: 0;
  color: #a7b1c2;
  line-height: 52px;
  left: 60px;
}
.nav-side-menu li {
  padding-left: 0px;
  /* border-left: 3px solid #f8ac59; */
  /* border-bottom: 1px solid #ccc; */
  position: relative;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #a7b1c2;
  font-weight: 300;
  padding: 20px 20px 20px 25px;
  display: block;
}
.nav-side-menu li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 25px;
}
.nav-side-menu li:hover {
  border-left: 3px solid #f8ac59;
  background-color: #293846;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
  color: white;
}
.nav-side-menu li:hover a{color: #fff;}
@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #fdd000;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}
body {
  margin: 0px;
  padding: 0px;
}
.side_menu_r{background-color: #293846;}
.side_menu_r a{color:#fff !important; border-left:3px solid #f8ac59 !important;}
.sub_menu_r1{background-color:#293846    !important; border-left:3px solid #f8ac59 !important;}
.sub_menu_r{background-color:#293846  !important; border-left:3px solid #f8ac59 !important;}
.sub_menu_r a{color:#fff !important;}

.current-user {
      position: relative;
      background: url(../img/header_bg.png);
      color: #fff;
      padding: 15px;
      text-align: center;
      height: 200px;
      display: table-cell;
      width: 250px;
      vertical-align: middle;
    }
    .current-user hr {
      display: block;
      height: 1px;
      border-top: 1px solid #6d7783;
      margin: 1em 0;
      padding: 0;
    }
    .current-user .name {
      color: #F0F5FA;
      font-size: 14px;
      padding: 0 0 2px 0;
      display: block;
      text-decoration: none;
      position: relative;
      text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0; }
    .current-user .companyInfo {
      color: #F0F5FA;
      font-size: 15px;
      padding: 0 0 12px 0;
      display: block;
      text-decoration: none;
      position: relative;
      text-shadow: rgba(0, 0, 0, 0.25) 0 -1px 0; }
      .current-user .name .avatar {
        max-width: 41px;
        border-radius: 50%;
        position: relative;
        top: 2px;
        margin-right: 12px; }
      .current-user .name span {
        }
        /*@media (min-width: 768px) and (max-width: 991px) {
          .current-user .name span {
            display: none; } }*/
        .current-user .name span .fa-chevron-down {
          font-size: 10px;
          margin-left: 7px;
          position: relative;
          top: -2px; }
        .current-user .name span i {
          padding-right: 4px;}
    .current-user .function {
      /*text-align: center;*/
      margin-top: 4px;
      margin-left: -6px;
    }
      .current-user .function .btn-link{
        color: #a1adbd;
      }

.navbar-top-links li{display: inline-block;}
.text-muted{color: #888888}
.count-info .label{line-height: 12px; padding: 2px 5px; position: absolute; right: 6px; top: 12px;}

.nav > li > a {
  color: #a7b1c2;
  font-weight: 600;
  padding: 14px 20px 14px 20px;
  text-align: center;
}
.nav.navbar-right > li > a {
  color: #999c9e;
}
.nav > li.active > a {
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
  background-color: #293846;
  /*color: white;*/
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {

}
.nav.navbar-top-links > li > a:hover,
.nav.navbar-top-links > li > a:focus {
  background-color: transparent;
}
.nav > li > a i {
  margin-right: 6px;
}
.navbar {
  border: 0;
}
.navbar-default {
  background-color: transparent;
  border-color: #2f4050;
}
.navbar-top-links li {
  display: inline-block !important;
}
.navbar-top-links li:last-child {
  margin-right: 40px;
}
.body-small .navbar-top-links li:last-child {
  margin-right: 0;
}

.navbar-top-links li a {
  padding: 20px 10px;
  min-height: 50px;
}
.dropdown-menu {
  border: medium none;
  border-radius: 3px;
  box-shadow: 0 0 3px rgba(86, 96, 117, 0.7);
  display: none;
  float: left;
  font-size: 12px;
  left: 0;
  list-style: none outside none;
  padding: 0;
  position: absolute;
  text-shadow: none;
  top: 100%;
  z-index: 1000;
}
.dropdown-menu > li > a {
  border-radius: 3px;
  color: inherit;
  line-height: 25px;
  margin: 4px;
  text-align: left;
  font-weight: normal;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:focus,
.dropdown-menu > .active > a:hover {
  color: #999c9e !important;
  text-decoration: none;
  background-color: #1ab394;
  outline: 0;
}
.dropdown-menu > li > a.font-bold {
  font-weight: 600;
}
.navbar-top-links .dropdown-menu li {
  display: block;
}
.navbar-top-links .dropdown-menu li:last-child {
  margin-right: 0;
}
.navbar-top-links .dropdown-menu li a {
  padding: 3px 20px;
  min-height: 0;

}
.navbar-top-links .dropdown-menu li a div {
  white-space: normal;
}
.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
  width: 310px;
  min-width: 0;
}
.navbar-top-links .dropdown-messages {
  margin-left: 5px;
}
.navbar-top-links .dropdown-tasks {
  margin-left: -59px;
}
.navbar-top-links .dropdown-alerts {
  margin-left: -123px;
}
.navbar-top-links .dropdown-user {
  right: 0;
  left: auto;
}
.dropdown-messages,
.dropdown-alerts {
  padding: 10px 10px 10px 10px;
}
.dropdown-messages li a,
.dropdown-alerts li a {
  font-size: 12px;
}
.dropdown-messages li em,
.dropdown-alerts li em {
  font-size: 10px;
}
.nav.navbar-top-links .dropdown-alerts a {
  font-size: 12px;
}
.dropdown a:hover{color:#999c9e !important;}
