<!-- Modal -->
<div class="modal fade" id="history_supply_dialog" role="dialog">
	<div class="modal-dialog modal_dialog500">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button id="supply_history_close_btn" type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="supply_history_dialog_title" class="modal-title">소모품 교환 등록</h4>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12 pdt15">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">*교환항목</label>
								<div class="col-sm-10">
									<input type="" id="supply_input_name" class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12 ">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">*교환일시</label>
								<div class="col-sm-10">
									<div class='input-group date' >
											<input class="form-control" id="supply_date" data-date-format="yyyy년 mm월 dd일" readonly placeholder="교환 날짜" style="background:#FFF;" />
											<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
											</span>
									</div>
									<script language="javascript">
								                $('#supply_date').datepicker({
								                  navTitles: {
								                   days: 'yyyy년 mm월'
								                 },
								                      //  todayButton: new Date(),
								                      clearButton: true,
								                      closeButton: true,
								                      language: 'en',
								                       onSelect: function (fd, d, picker) {
							                              // Do nothing if selection was cleared
							                              if (!d) return;
							                              supply_date = d.getFullYear()+"-"+zeroPad(d.getMonth()+1,2)+"-"+zeroPad(d.getDate(),2);
							                            }

								                 })
							        </script>
									<!-- <script type="text/javascript">
										 $(function () {
												$('#supply_input_exchange_date').datetimepicker({
													 locale: 'ko',
													 format: 'YYYY년 MM월 DD일'
												});
										 });
									</script> -->
								</div>
							</div>
						</form>
					</div>
					
					<!-- <div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">교환주기</label>
								<div class="col-sm-10">
									<input type="number" id="supply_input_period" class="form-control" value="" placeholder="Km (사용자 임의 변경 가능)">
								</div>
							</div>
						</form>
					</div> -->
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">최종교환</label>
								<div class="col-sm-10 km">
									<input type="number" id="supply_input_final" class="form-control" value="" placeholder="Km (현 차량 주행거리)">
									<span>Km</span>
								</div>
							</div>
						</form>
					</div>
					<!-- <div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">다음교환</label>
								<div class="col-sm-10">
									<input type="number" id="supply_input_next" class="form-control" value="" placeholder="Km (다음 교환예정 주기)">
								</div>
							</div>
						</form>
					</div> -->
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">교환비용</label>
								<div class="col-sm-10 price">
									<input type="number" id="supply_input_pay" class="form-control" value="">
									<span>원</span>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">메모사항</label>
								<div class="col-sm-10">
									<textarea id="supply_input_memo" class="form-control" rows="3"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
      </div>

			<div class="modal-footer">
				<button id="supply_history_delete_btn" type="button" class="btn btn-danger">삭제</button>
				<button id="supply_history_close_btn" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				<button id="supply_history_save_btn" type="button" class="btn action_btn">저장</button>
			</div>

		</div>
	</div>
</div>
<script>
	
	
//소모품 교환 등록, 수정
$("#supply_history_save_btn").click(function() {

		//선택된 차정보
	var carGrid = $("#grid").data("kendoGrid");
	var row = carGrid.select();
	var carData = carGrid.dataItem(row);

	//선택된 내역정보
	var historyGrid = $("#grid_history").data("kendoGrid");
	var historyRow = historyGrid.select();
	var historyData = historyGrid.dataItem(historyRow);

	var type = $('#supply_input_name').val();
	if(type==''){
		alert('교환항목은 반드시 입력해야 합니다.');
		$('#supply_input_name').focus();
		return false;
	}

	//나머지 다이얼로그 정보
	// var checkDate = $('#supply_input_exchange_date').data('date');

	if($('#supply_date').val()==''){
		alert("교환 일시는 꼭 입력해야 합니다.");
		$('#supply_date').focus();
		return false;
	}
	
	var check_distance =  $('#supply_input_final').val();
	// var next_check_distance =  $('#supply_input_next').val();
	// var period = $('#supply_input_period').val();
	var pay = $('#supply_input_pay').val();
	var memo = $('#supply_input_memo').val();

	//등록
	if(is_history_register == true){	

		//유효성 검사
		// if(checkDate==null){
		// 	alert("점검 날짜는 꼭 입력해야 합니다.");
		// 	return false;
		// }	
		$.post("http://solution.rengo.co.kr/carmanager/register_supply_history",
        	{
        			car_serial : carData.serial,
        			type : type,
					// period : period,
					check_date : supply_date,
					check_distance : check_distance,
					// next_check_distance : next_check_distance,
					pay : pay,
					memo :  memo
			},
			function(data, status){
					var result = JSON.parse(data);
					if(result.code=="S01"){
						alert("저장되었습니다.");
						$("#supply_history_close_btn").trigger({ type: "click" });
						//데이터 다시 읽어옴
						refresh_supply_history();    
					}else if(result.code=="E02"){
						alert("이미 같은 내역이 같은 날짜에 등록되어 있습니다.");
					}else{
						alert("데이터 입력 중 문제가 발생했습니다.");
					}

		});


	}else{//수정
		//유효성 검사
		// if(checkDate==null){
		// 	alert("점검 날짜는 꼭 입력해야 합니다.");
		// 	return false;
		// }	
		$.post("http://solution.rengo.co.kr/carmanager/update_supply_history",
        	{
        			serial : historyData.serial,
        			car_serial : carData.serial,
        			type : type,
					// period : period,
					check_date : supply_date,
					check_distance : check_distance,
					// next_check_distance : next_check_distance,
					pay : pay,
					memo :  memo
			},
			function(data, status){
					var result = JSON.parse(data);
					if(result.code=="S01"){
						alert("수정되었습니다.");
						$("#supply_history_close_btn").trigger({ type: "click" });
						//데이터 다시 읽어옴
						refresh_supply_history();    
					}else{
						alert(result.message);
					}

		});

	}
});

//소모품교환 삭제
$("#supply_history_delete_btn").click(function() {
		//grid에서 id 얻어오기
	var grid = $("#grid_history").data("kendoGrid");
	var row = grid.select();
	var data = grid.dataItem(row);


	$.post("http://solution.rengo.co.kr/carmanager/delete_supply_history",
       {
        		index : data.serial
		},
		function(data, status){
			var result = JSON.parse(data);
			if(result.code=="S01"){
				alert("삭제되었습니다.");
				//데이터 다시 읽어옴
				refresh_supply_history();
				$('#history_supply_dialog').modal('toggle'); //점검 내역 팝업    
			}else{
				alert("데이터 저장 중 에러가 발생했습니다.");
			}

	});
});

</script>