<!-- Modal -->
<div class="modal fade" id="history_repair_dialog" role="dialog">
	<div class="modal-dialog modal_dialog500">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button id="repair_history_close_btn" type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="repair_history_dialog_title" class="modal-title">정비 내역 등록</h4>
			</div>

		<!-- 	<div class="modal-body bt_ccc">
        <div class="row"><div class="col-sm-12"><h4>차량정보</h4></div></div>
				<div class="row">
					<div class="col-sm-12 pdt15">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">차량번호</label>
								<div class="col-sm-10">
									<input type="" class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">차량모델</label>
								<div class="col-sm-10">
									<input type="" class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">연식</label>
								<div class="col-sm-10">
									<input type="" class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">차대번호</label>
								<div class="col-sm-10">
									<input type="" class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">색상</label>
								<div class="col-sm-10">
									<input type="" class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">영업소</label>
								<div class="col-sm-10">
									<input type="" class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
				</div>
      </div> -->

			<div class="modal-body bt_ccc">
				<div class="row"><div class="col-sm-12"><h4>정비내역</h4></div></div>
				<div class="row">
					<div class="col-sm-12 pdt15">
						<form class="form-horizontal">
							<div class="form-group" style="font-size:11px;">
								<label for="" class="col-sm-2 control-label text-left">*정비구분</label>
								<div class="col-sm-10">
									<label class="radio-inline">
										<input type="radio" name="repair_type" id="repair_radio_type1" value="repair_option1" > 일반정비
									</label>
									<label class="radio-inline">
										<input type="radio" name="repair_type" id="repair_radio_type2" value="repair_option2"> 사고수리
									</label>
									<label class="radio-inline">
										<input type="radio" name="repair_type" id="repair_radio_type3" value="repair_option3"> 보험수리
									</label>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">*정비시작</label>
								<div class="col-sm-10">
									<div class='input-group date'>
											<input type='text' class="form-control" id="repair_start_date" data-date-format="yyyy년 mm월 dd일" readonly placeholder="시작 날짜" style="background:#FFF;"/>
											<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
											</span>
									</div>
									<script language="javascript">
								                $('#repair_start_date').datepicker({
								                  navTitles: {
								                   days: 'yyyy년 mm월'
								                 },
								                      //  todayButton: new Date(),
								                      clearButton: true,
								                      closeButton: true,
								                      language: 'en',
								                       onSelect: function (fd, d, picker) {
							                              // Do nothing if selection was cleared
							                              if (!d) return;
							                              repair_start_date = d.getFullYear()+"-"+zeroPad(d.getMonth()+1,2)+"-"+zeroPad(d.getDate(),2);
							                            }

								                 })
							        </script>
									<!-- <script type="text/javascript">
										 $(function () {
												$('#repair_start_date').datetimepicker({
													 locale: 'ko',
													 format: 'YYYY년 MM월 DD일'
												});
										 });
									</script> -->
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">*정비종료</label>
								<div class="col-sm-10">
									<div class='input-group date'>
											<input type='text' class="form-control" id="repair_end_date" data-date-format="yyyy년 mm월 dd일" readonly placeholder="종료 날짜" style="background:#FFF;"/>
											<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
											</span>
									</div>
									<script language="javascript">
								                $('#repair_end_date').datepicker({
								                  navTitles: {
								                   days: 'yyyy년 mm월'
								                 },
								                      //  todayButton: new Date(),
								                      clearButton: true,
								                      closeButton: true,
								                      language: 'en',
								                       onSelect: function (fd, d, picker) {
							                              // Do nothing if selection was cleared
							                              if (!d) return;
							                              repair_end_date = d.getFullYear()+"-"+zeroPad(d.getMonth()+1,2)+"-"+zeroPad(d.getDate(),2);
							                            }

								                 })
							        </script>
									<!-- <script type="text/javascript">
										 $(function () {
												$('#repair_end_date').datetimepicker({
													 locale: 'ko',
													 format: 'YYYY년 MM월 DD일'
												});
										 });
									</script> -->
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">*정비사</label>
								<div class="col-sm-10">
									<input type="" id='repair_input_company' class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">전화번호</label>
								<div class="col-sm-10">
									<input type="" id='repair_input_phone_number' class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">정비내역</label>
								<div class="col-sm-10">
									<textarea id='repair_input_text' class="form-control" rows="3"></textarea>
								</div>
							</div>
						</form>
					</div>
					<!-- <div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">부품가</label>
								<div class="col-sm-10">
									<input type="number" id='repair_input_pay1' class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">공임료</label>
								<div class="col-sm-10">
									<input type="number" id='repair_input_pay2' class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">세액</label>
								<div class="col-sm-10">
									<input type="number" id='repair_input_pay3' class="form-control" value="">
								</div>
							</div>
						</form>
					</div> -->
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">총비용</label>
								<div class="col-sm-10 price">
									<input id='repair_input_total_pay' class="form-control" value="">
									<span>원</span>
								</div>
							</div>
						</form>
					</div>
					<!-- <div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">주행거리</label>
								<div class="col-sm-10">
									<input type="number" id='repair_input_distance' class="form-control" value="" placeholder="차량 정비 현 주행거리 (km단위)">
								</div>
							</div>
						</form>
					</div> -->
				</div>
			</div>

			<div class="modal-body bt_ccc">
				<div class="row"><div class="col-sm-12"><h4>고객정보</h4></div></div>
				<div class="row">
					<div class="col-sm-12 pdt15">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">고객성명</label>
								<div class="col-sm-10">
									<input type="" id='repair_input_customer_name' class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<!-- <div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">수리비</label>
								<div class="col-sm-10">
									<input type="number" id='repair_input_charge1' class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left pdl0">운휴보상금</label>
								<div class="col-sm-10">
									<input type="number" id='repair_input_charge2' class="form-control" value="">
								</div>
							</div>
						</form>
					</div> -->
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">총청구액</label>
								<div class="col-sm-10 price">
									<input id='repair_input_total_charge' class="form-control" value="">
									<span>원</span>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>

			<div class="modal-body bt_ccc">
				<div class="row"><div class="col-sm-12"><h4>메모사항</h4></div></div>
				<div class="row">
					<div class="col-sm-12 pdt15">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">메모사항</label>
								<div class="col-sm-10">
									<textarea id="repair_input_memo" class="form-control" rows="3"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>


			<div class="modal-footer">
				<button id="repair_delete_btn" type="button" class="btn btn-danger">삭제</button>
				<button id="repair_close_btn" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				<button id="repair_save_btn" type="button" class="btn btn-primary">저장</button>
			</div>
		</div>
	</div>
</div>
<script>
	
	
//정비내역 등록, 수정
$("#repair_save_btn").click(function() {

	

		//선택된 차정보
	var carGrid = $("#grid").data("kendoGrid");
	var row = carGrid.select();
	var carData = carGrid.dataItem(row);

	//선택된 내역정보
	var historyGrid = $("#grid_history").data("kendoGrid");
	var historyRow = historyGrid.select();
	var historyData = historyGrid.dataItem(historyRow);

	

	//나머지 다이얼로그 정보

	if($('#repair_start_date').val()==''){
		alert("정비시작일은 반드시 입력해야 합니다.");
		$('#repair_start_date').focus();
		return false;
	}
	if($('#repair_end_date').val()==''){
		alert("정비종료일은 반드시 입력해야 합니다.");
		$('#repair_end_date').focus();
		return false;
	}

	// var checkedStartYaer = startDate.substring(0,4);
	// var checkedStartMonth = startDate.substring(6,8);
	// var checkedStartDay = startDate.substring(10,12);
	// var selectStartDate = new Date(checkedStartYaer+"-"+checkedStartMonth+"-"+checkedStartDay); 

	// var checkedEndYaer = endDate.substring(0,4);
	// var checkedEndMonth = endDate.substring(6,8);
	// var checkedEndDay = endDate.substring(10,12);
	// var selectEndDate = new Date(checkedEndYaer+"-"+checkedEndMonth+"-"+checkedEndDay); 

	var checked = $('#repair_radio_type1').is(':checked');
	if(checked){
		var type = "일반정비";
	}
	var checked2 = $('#repair_radio_type2').is(':checked');
	if(checked2){
		var type = "사고수리";
	}
	var checked3 = $('#repair_radio_type3').is(':checked');
	if(checked3){
		var type = "보험수리";
	}
	//등록
	
	if($('#repair_input_company').val()==''){
		alert("정비사는 반드시 입력해야 합니다.");
		$('#repair_input_company').focus();
		return false;
	}

	if(is_history_register == true){	

		//유효성 검사
		// if(checkDate==null){
		// 	alert("점검 날짜는 꼭 입력해야 합니다.");
		// 	return false;
		// }	
		$.post("http://solution.rengo.co.kr/carmanager/register_repair_history",
        	{
        			car_serial : carData.serial,
        			type : type,
					repair_start_date : repair_start_date,
					repair_end_date : repair_end_date ,
					repair_company : $('#repair_input_company').val(),
					repair_company_phone_number : $('#repair_input_phone_number').val(),
					repair_detail : $('#repair_input_text').val(),
					// repair_pay1 : $('#repair_input_pay1').val(),
					// repair_pay2 : $('#repair_input_pay2').val(),
					// repair_pay3 : $('#repair_input_pay3').val(),
					repair_total_pay : parseInt($('#repair_input_total_pay').val()),
					repair_customer_name : $('#repair_input_customer_name').val(),
					// repair_charge1 : $('#repair_input_charge1').val(),
					// repair_charge2 : $('#repair_input_charge2').val(),
					repair_total_charge : parseInt($('#repair_input_total_charge').val()),
					// distance :  $('#repair_input_distance').val(),
					memo :  $('#repair_input_memo').val(),
			},
			function(data, status){
					var result = JSON.parse(data);
					if(result.code=="S01"){
						alert("저장되었습니다.");
						$("#repair_history_close_btn").trigger({ type: "click" });
						//데이터 다시 읽어옴
						refresh_repair_history();    
					}else if(result.code=="E02"){
						alert("이미 같은 내역이 같은 날짜에 등록되어 있습니다.");
					}else{
						alert("데이터 입력 중 문제가 발생했습니다.");
					}

		});


	}else{//수정
		//유효성 검사
		// if(checkDate==null){
		// 	alert("점검 날짜는 꼭 입력해야 합니다.");
		// 	return false;
		// }	
		$.post("http://solution.rengo.co.kr/carmanager/update_repair_history",
        	{
        			serial : historyData.serial,
        			car_serial : carData.serial,
        			type : type,
					repair_start_date : repair_start_date,
					repair_end_date : repair_end_date ,
					repair_company : $('#repair_input_company').val(),
					repair_company_phone_number : $('#repair_input_phone_number').val(),
					repair_detail : $('#repair_input_text').val(),
						// repair_pay1 : $('#repair_input_pay1').val(),
					// repair_pay2 : $('#repair_input_pay2').val(),
					// repair_pay3 : $('#repair_input_pay3').val(),
					repair_total_pay : parseInt($('#repair_input_total_pay').val()),
					repair_customer_name : $('#repair_input_customer_name').val(),
					// repair_charge1 : $('#repair_input_charge1').val(),
					// repair_charge2 : $('#repair_input_charge2').val(),
					repair_total_charge : parseInt($('#repair_input_total_charge').val()),
					// distance :  $('#repair_input_distance').val(),
					memo :  $('#repair_input_memo').val(),
			},
			function(data, status){
					var result = JSON.parse(data);
					if(result.code=="S01"){
						alert("수정되었습니다.");
						$("#repair_history_close_btn").trigger({ type: "click" });
						//데이터 다시 읽어옴
						refresh_repair_history();    
					}else{
						alert("데이터 수정 중 문제가 발생했습니다.");
					}

		});

	}
});

//소모품교환 삭제
$("#repair_delete_btn").click(function() {
		//grid에서 id 얻어오기
	var grid = $("#grid_history").data("kendoGrid");
	var row = grid.select();
	var data = grid.dataItem(row);


	$.post("http://solution.rengo.co.kr/carmanager/delete_repair_history",
       {
        		index : data.serial
		},
		function(data, status){
			var result = JSON.parse(data);
			if(result.code=="S01"){
				alert("삭제되었습니다.");
				//데이터 다시 읽어옴
				refresh_supply_history();
				$("#repair_history_close_btn").trigger({ type: "click" });
				// $('#history_supply_dialog').modal('toggle'); //점검 내역 팝업    
			}else{
				alert("데이터 삭제 중 에러가 발생했습니다.");
			}

	});
});
</script>