<!-- Modal -->
<div class="modal fade" id="history_accident_dialog" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 id="accident_history_dialog_title" class="modal-title">사고 내역 등록</h4>
      </div>

      <div class="modal_scroll">
      <div class="modal-body">
        <div class="row">
          <div class="col-sm-6"><h4>사고정보</h4></div>
					<div class="col-sm-6 text-right">
						<div class="radio-inline">
							<label><input type="radio" name="accident_check" id="accident_status_apply" value="접수"><span class="circle"></span><span class="check"></span> 접수</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" name="accident_check" id="accident_status_finish" value="완결"><span class="circle"></span><span class="check"></span> 완결</label>
						</div>
						<div class="radio-inline">
							<label><input type="radio" name="accident_check" id="accident_status_append" value="보류"><span class="circle"></span><span class="check"></span> 보류</label>
						</div>
					</div>
          <div class="col-sm-12 pdt15">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-sm-1 control-label text-left">*사고일시</label>
                <div class="col-sm-11">
                  <div class='input-group date' >
                   <input type='text' class="form-control" id="accident_time" data-date-format="yyyy년 mm월 dd일" readonly placeholder="사고일시" style="background:#FFF;"/>
                    <span class="input-group-addon">
                      <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                  <script language="javascript">
                                $('#accident_time').datepicker({
                                  navTitles: {
                                   days: 'yyyy년 mm월'
                                 },
                                      //  todayButton: new Date(),
                                      clearButton: true,
                                      closeButton: true,
                                      timepicker: true,
                                      language: 'en',
                                      minutesStep: 5,
                                       onSelect: function (fd, d, picker) {
                                            // Do nothing if selection was cleared
                                            if (!d) return;
                                            
                                            accident_time = d.getFullYear()+"-"+zeroPad(d.getMonth()+1,2)+"-"+zeroPad(d.getDate(),2) +" " + zeroPad(d.getHours()) +":"+ zeroPad(d.getMinutes()) + ":00";
                                            // alert(accident_time);
                                          }

                                 })
                               </script>
                 <!--  <script type="text/javascript">
                   $(function () {
                    $('#accident_time').datetimepicker({
                     locale: 'ko',
                     format: 'YYYY년 MM월 DD일 HH시 MM분'
                   });
                  });
                </script> -->
              </div>
             <!--    <div class="col-sm-1 pdl0">
                  <button type="button" class="btn btn-default col-sm-12 text-center">대여내역</button>
                </div> -->
              </div>
            </form>
          </div>
          <div class="col-sm-12">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-sm-1 control-label text-left">*사고장소</label>
                <div class="col-sm-11">
                  <input type="" class="form-control" value="" id="car_accident_place_input">
                </div>
              </div>
            </form>
          </div>

        </div>
      </div>

      <div class="modal-body bt_ccc">
        <div class="row">
          <div class="col-sm-12"><h4>당사차량</h4></div>
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12 pdt15">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">차량번호</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" disabled id="car_accident_customer_car_number">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12 pdt15">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">모델명칭</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" disabled id="car_accident_customer_car_model">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">고객성명</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_customer_name">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">영업소명</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_customer_company">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">전화번호</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_customer_phnoe">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">휴대번호</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_customer_mobile">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <!--   <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">인적피해</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">피해정도</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">과실비율</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_customer_percent">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">면책금액</label>
                    <div class="col-sm-10 price">
                      <input type="" class="form-control" value="" id="car_accident_customer_compensation">
                      <span>원</span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">보험회사</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="car_accident_customer_insurance_company">
                        <option>렌터카공제조합</option>
                        <option>현대해상</option>
                        <option>삼성화재</option>
                        <option>동부화재</option>
                        <option>메리츠화재</option>
                        <option>롯데손해보험</option>
                        <option>KB손해보험</option>
                        <option>한화손해보험</option>
                        <option>더케이손해보험</option>
                        <option>AXA손해보험</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">접수번호</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_customer_register_number">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">담당자</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_customer_insurance_manager">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">전화번호</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_customer_insurance_phone">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">팩스번호</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_customer_insurance_fax">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left pdl0">정비공업사</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_customer_insurance_repair">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left pdl0">고객청구액</label>
                    <div class="col-sm-10 price">
                      <input type="" class="form-control" value="" id="car_accident_customer_pay">
                      <span>원</span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
						<div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left pdl0">보험접수일</label>
                    <div class="col-sm-10">
                      <div class='input-group date'>
                        <input type='text' class="form-control" id="accident_insurance_date" data-date-format="yyyy년 mm월 dd일" readonly placeholder="사고 접수일" style="background:#FFF;"/>
                        <span class="input-group-addon">
                          <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                      </div>
                      <script language="javascript">
                                $('#accident_insurance_date').datepicker({
                                  navTitles: {
                                   days: 'yyyy년 mm월'
                                 },
                                      //  todayButton: new Date(),
                                      clearButton: true,
                                      closeButton: true,
                                      language: 'en',
                                       onSelect: function (fd, d, picker) {
                                            // Do nothing if selection was cleared
                                            if (!d) return;
                                            accident_insurance_date = d.getFullYear()+"-"+zeroPad(d.getMonth()+1,2)+"-"+zeroPad(d.getDate(),2); 
                                          }

                                 })
                               </script>
                      <!-- <script type="text/javascript">
                       $(function () {
                        $('#car_accident_customer_insurance_date').datetimepicker({
                         locale: 'ko',
                         format: 'YYYY년 MM월 DD일'
                       });
                      });
                    </script> -->
                  </div>
                </div>
              </form>
            </div>
          </div>
           <!--  <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left pdl0">입금타입</label>
                    <div class="col-sm-10">
                      <select class="form-control">
                        <option>계좌이체</option>
                        <option>무상서비스</option>
                        <option>신용카드</option>
                        <option>포인트</option>
                        <option>현금</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div> -->
          </div>
          <!-- <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">입금일시</label>
                    <div class="col-sm-10">
                      <div class='input-group date' id='time_deposit'>
                          <input type='text' class="form-control" />
                          <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                          </span>
                      </div>
                      <script type="text/javascript">
                         $(function () {
                            $('#time_deposit').datetimepicker({
                               locale: 'ko',
                               format: 'YYYY년 MM월 DD일'
                            });
                         });
                      </script>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left pdl0">입금액</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> -->
					<!--
          <div class="row">
             <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left pdl0">입금자명</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>-->
          <div class="row">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-1 control-label text-left pdr0">비고사항</label>
										<div class="col-sm-11">
											<div id="accident_info" class="col-sm-12 pdr30"><textarea class="form-control" rows="3" id="car_accident_customer_memo"></textarea></div>
										</div>
									</div>
								</form>
          </div>
          </div>
        </div>


        <div class="modal-body bt_ccc">
          <div class="row">
            <div class="col-sm-12"><h4>상대차량</h4></div>
            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-12 pdt15">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label text-left">차량번호</label>
                      <div class="col-sm-10">
                        <input type="" class="form-control" value="" id="car_accident_target_car_number">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-12 pdt15">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label text-left">모델명칭</label>
                      <div class="col-sm-10">
                        <input type="" class="form-control" value="" id="car_accident_target_car_model">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-12">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label text-left">운전자명</label>
                      <div class="col-sm-10">
                        <input type="" class="form-control" value="" id="car_accident_target_name">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-12">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label text-left">영업소명</label>
                      <div class="col-sm-10">
                        <input type="" class="form-control" value="" id="car_accident_target_company">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <div class="col-sm-12">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label text-left">전화번호</label>
                      <div class="col-sm-10">
                        <input type="" class="form-control" value="" id="car_accident_target_phnoe">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="col-sm-12">
                  <form class="form-horizontal">
                    <div class="form-group">
                      <label for="" class="col-sm-2 control-label text-left">휴대번호</label>
                      <div class="col-sm-10">
                        <input type="" class="form-control" value="" id="car_accident_target_mobile">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
<!--           <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">인적피해</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">피해정도</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div> -->
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">과실비율</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_target_percent">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">면책금액</label>
                    <div class="col-sm-10 price">
                      <input type="" class="form-control" value="" id="car_accident_target_compensation">
                      <span>원</span>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">보험회사</label>
                    <div class="col-sm-10">
                      <select class="form-control" id="car_accident_target_insurance_company">
                        <option>렌터카공제조합</option>
                        <option>현대해상</option>
                        <option>삼성화재</option>
                        <option>동부화재</option>
                        <option>메리츠화재</option>
                        <option>롯데손해보험</option>
                        <option>KB손해보험</option>
                        <option>한화손해보험</option>
                        <option>더케이손해보험</option>
                        <option>AXA손해보험</option>
                      </select>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">접수번호</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_target_register_number">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">담당자</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_target_insurance_manager">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">전화번호</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_target_insurance_phone">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left">팩스번호</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_target_insurance_fax">
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="col-sm-12">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="" class="col-sm-2 control-label text-left pdl0">정비공업사</label>
                    <div class="col-sm-10">
                      <input type="" class="form-control" value="" id="car_accident_target_insurance_repair">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <form class="form-horizontal">
              <div class="form-group">
                <label for="" class="col-sm-1 control-label text-left">입원병원</label>
                <div class="col-sm-11 pdl10">
                  <input type="" class="form-control" value="" id="car_accident_target_hospital">
                </div>
              </div>
            </form>
          </div>
        </div>
				<div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left">비고사항</label>
								<div class="col-sm-11 pdl10">
									<div id="accident_info"><textarea class="form-control" rows="3" id="car_accident_target_memo"></textarea></div>
								</div>
							</div>
						</form>
					</div>
				</div>
      </div>
<!--
      <div class="modal-body bt_ccc">
        <div class="row">
          <div class="col-sm-12"><h4>보험상황</h4></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal">
              <div class="form-group">
                <div class="col-sm-12 pdr0">
                  <div class="col-md-2">
                  </div>
                  <div class="col-md-10 pdr0">
                    <label for="" class="col-sm-2 control-label text-center pdl0">보상담당자</label>
                    <label for="" class="col-sm-2 control-label text-center pdl0">진행상황</label>
                    <label for="" class="col-sm-2 control-label text-center pdl0">보상금액</label>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="col-md-12">
            <form class="form-horizontal">
              <div class="form-group">
                  <label for="" class="col-sm-2 control-label text-left">대인</label>
                  <div class="col-md-10 pdr0">
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                  </div>
              </div>
            </form>
          </div>
					<div class="col-md-12">
            <form class="form-horizontal">
              <div class="form-group">
                  <label for="" class="col-sm-2 control-label text-left">대물</label>
                  <div class="col-md-10 pdr0">
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                  </div>
              </div>
            </form>
          </div>
					<div class="col-md-12">
            <form class="form-horizontal">
              <div class="form-group">
                  <label for="" class="col-sm-2 control-label text-left">자손</label>
                  <div class="col-md-10 pdr0">
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                  </div>
              </div>
            </form>
          </div>
					<div class="col-md-12">
            <form class="form-horizontal">
              <div class="form-group">
                  <label for="" class="col-sm-2 control-label text-left">자차</label>
                  <div class="col-md-10 pdr0">
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                    <div class="col-sm-2 pdl0">
                      <input type="" class="form-control" value="">
                    </div>
                  </div>
              </div>
            </form>
          </div>
        </div>
      </div> -->
    </div>
    <div class="modal-footer">
      <button id="accident_delete_btn" type="button" class="btn btn-danger">삭제</button>
      <button id="accident_close_btn" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
      <button id="accident_save_btn" type="button" class="btn action_btn">저장</button>
    </div>
  </div>
</div>
</div>
<script>
  

  
//사고내역 삭제
$("#accident_save_btn").click(function() {
    //선택된 차정보
  var carGrid = $("#grid").data("kendoGrid");
  var row = carGrid.select();
  var carData = carGrid.dataItem(row);

  //선택된 내역정보
  var historyGrid = $("#grid_history").data("kendoGrid");
  var historyRow = historyGrid.select();
  var historyData = historyGrid.dataItem(historyRow);

  var status='';
  if($('#accident_status_apply').is(':checked')){
    var status = "접수";
  }
  if($('#accident_status_finish').is(':checked')){
    var status = "완결";
  }
  if($('#accident_status_append').is(':checked')){
    var status = "보류";
  }

  if($("#accident_time").val()==''){
    alert('사고 날짜는 입력해야 합니다.');
    $("#accident_time").focus();
    return false;
  }

  if($("#car_accident_place_input").val()==''){
    alert('사고 장소는 입력해야 합니다.');
    $("#car_accident_place_input").focus();
    return false;
  }

  //나머지 다이얼로그 정보
  // var accidentDate = $('#accident_time').data('date');

  // var checkedYaer = accidentDate.substring(0,4);
  // var checkedMonth = accidentDate.substring(6,8);
  // var checkedDay = accidentDate.substring(10,12);
  // var checkedHour = accidentDate.substring(14,16);
  // var checkedMinute = accidentDate.substring(18,20);

  // var insuranceDate = $('#car_accident_customer_insurance_date').data('date');
  // var year = insuranceDate.substring(0,4);
  // var month = insuranceDate.substring(6,8);
  // var day = insuranceDate.substring(10,12);

//등록

  if(is_history_register == true){
      $.post("http://solution.rengo.co.kr/carmanager/register_accident_history",
          {
              car_serial : carData.serial,
          status : status,
          accident_date : accident_time,
          accident_place : $('#car_accident_place_input').val(),
          customer_memo : $('#car_accident_customer_memo').val(),
          customer_name : $('#car_accident_customer_name').val(),
          customer_phone : $('#car_accident_customer_phnoe').val(),
          customer_company : $('#car_accident_customer_company').val(),
          customer_mobile : $('#car_accident_customer_mobile').val(),
          customer_percent : $('#car_accident_customer_percent').val(),
          customer_compensation :  $('#car_accident_customer_compensation').val(),
          customer_pay : $('#car_accident_customer_pay').val(),
          customer_insurance_company : $('#car_accident_customer_insurance_company').val(),
          customer_register_number :  $('#car_accident_customer_register_number').val(),
          customer_insurance_man : $('#car_accident_customer_insurance_manager').val(),
          customer_insurance_phone : $('#car_accident_customer_insurance_phone').val(),
          customer_insurance_fax : $('#car_accident_customer_insurance_fax').val(),
          customer_insurance_date : accident_insurance_date,
          customer_repair : $('#car_accident_customer_insurance_repair').val(),

          target_car_number : $('#car_accident_target_car_number').val(),
          target_car_model : $('#car_accident_target_car_model').val(),
          target_memo : $('#car_accident_target_memo').val(),
          target_name : $('#car_accident_target_name').val(),
          target_phone : $('#car_accident_target_phnoe').val(),
          target_company : $('#car_accident_target_company').val(),
          target_mobile : $('#car_accident_target_mobile').val(),
          target_percent : $('#car_accident_target_percent').val(),
          target_compensation :  $('#car_accident_target_compensation').val(),
          target_insurance_company : $('#car_accident_target_insurance_company').val(),
          target_register_number :  $('#car_accident_target_register_number').val(),
          target_insurance_man : $('#car_accident_target_insurance_manager').val(),
          target_insurance_phone : $('#car_accident_target_insurance_phone').val(),
          target_insurance_fax : $('#car_accident_target_insurance_fax').val(),
          target_repair : $('#car_accident_target_insurance_repair').val(),


      },
      function(data, status){
          var result = JSON.parse(data);
          if(result.code=="S01"){
            alert("저장되었습니다.");
            $("#history_accident_dialog").modal('toggle');    
            //데이터 다시 읽어옴
            refresh_accident_history();    
          }else{
            alert(result.message);
          }

    });


  }else{

      $.post("http://solution.rengo.co.kr/carmanager/update_accident_history",
          {
              serial : historyData.serial,
          status : status,
          accident_date : accident_time,
          accident_place : $('#car_accident_place_input').val(),
          customer_memo : $('#car_accident_customer_memo').val(),
          customer_name : $('#car_accident_customer_name').val(),
          customer_phone : $('#car_accident_customer_phnoe').val(),
          customer_company : $('#car_accident_customer_company').val(),
          customer_mobile : $('#car_accident_customer_mobile').val(),
          customer_percent : $('#car_accident_customer_percent').val(),
          customer_compensation :  $('#car_accident_customer_compensation').val(),
          customer_pay : $('#car_accident_customer_pay').val(),
          customer_insurance_company : $('#car_accident_customer_insurance_company').val(),
          customer_register_number :  $('#car_accident_customer_register_number').val(),
          customer_insurance_man : $('#car_accident_customer_insurance_manager').val(),
          customer_insurance_phone : $('#car_accident_customer_insurance_phone').val(),
          customer_insurance_fax : $('#car_accident_customer_insurance_fax').val(),
          customer_insurance_date : accident_insurance_date,
          customer_repair : $('#car_accident_customer_insurance_repair').val(),

          target_car_number : $('#car_accident_target_car_number').val(),
          target_car_model : $('#car_accident_target_car_model').val(),
          target_memo : $('#car_accident_target_memo').val(),
          target_name : $('#car_accident_target_name').val(),
          target_phone : $('#car_accident_target_phnoe').val(),
          target_company : $('#car_accident_target_company').val(),
          target_mobile : $('#car_accident_target_mobile').val(),
          target_percent : $('#car_accident_target_percent').val(),
          target_compensation :  $('#car_accident_target_compensation').val(),
          target_insurance_company : $('#car_accident_target_insurance_company').val(),
          target_register_number :  $('#car_accident_target_register_number').val(),
          target_insurance_man : $('#car_accident_target_insurance_manager').val(),
          target_insurance_phone : $('#car_accident_target_insurance_phone').val(),
          target_insurance_fax : $('#car_accident_target_insurance_fax').val(),
          target_repair : $('#car_accident_target_insurance_repair').val(),


      },
      function(data, status){
          var result = JSON.parse(data);
          if(result.code=="S01"){
            alert("수정되었습니다.");
            $("#history_accident_dialog").modal('toggle');    
            //데이터 다시 읽어옴
            refresh_accident_history();    
          }else{
            alert(result.message);
          }

    });



  }

});

//사고내역 삭제
$("#accident_delete_btn").click(function() {
    //grid에서 id 얻어오기
  var grid = $("#grid_history").data("kendoGrid");
  var row = grid.select();
  var data = grid.dataItem(row);



  // alert(data.serial);
  $.post("http://solution.rengo.co.kr/carmanager/delete_accident_history",
       {
            index : data.serial
    },
    function(data, status){
      var result = JSON.parse(data);
      if(result.code=="S01"){
        alert("삭제되었습니다.");
        //데이터 다시 읽어옴
        refresh_accident_history();
        $('#history_accident_dialog').modal('toggle');   
      }else{
        alert(result.message);
      }

  });
});

$('.modal_scroll').css('height', $(window).height() - 250 );
</script>