<style type="text/css">
label {
	font-weight: 400;
}

.a-link {
	color:#5dd3b6;
}
.a-link:hover {
	color:#4fbda2;
}
</style>
<div class="dialog_car_info">
<!-- Modal -->
<div class="modal fade ui-draggable" id="car_input_dialog" role="dialog" >
	<div class="modal-dialog modal-lg">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button id="car_button_close" type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="dialog_title" class="modal-title"></h4>
			</div>
			<div class="modal_scroll">

			<div class="row bg_f8f8f8"  > 
			<div class="col-sm-6 br_ccc pdr0"  >
			<div class="modal-body" >
				<div class="row rent_input"  >
					<!--왼쪽 -->
					<div class="col-md-12" >
						<div class="row">
							<div class="col-md-5"><h4>기본 정보</h4></div>
						</div>
						<div class="row pdt15">
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">*차량번호</label>
										<div class="col-sm-10">
											<input type="" class="form-control" value="23나 1221" id="car_input_car_number">
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">*차량상태</label>
										<div class="col-sm-10">
											<select id="car_select_status" class="form-control">
												<option>정상</option>
												<option>수리중</option>
												<option>검사중</option>
												<option>폐차</option>
												<option>매각</option>
												<option>미운행</option>
											</select>
										</div>
										<!-- <div class="col-sm-5 text-center">
											<input id="car_input_status" disabled type="" class="form-control" value="대기중">
										</div> -->
									</div>
								</form>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">*차량검색</label>
										<div class="col-sm-10">
											<div class="col-sm-8 pdr0 pdl0">
												<div class="input-group">
													<input type="text" class="form-control" id="car_input_car_type" readonly>
												<!-- <div class="input-group-addon text-point" id="car_car_select_btn"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div> -->
												</div>	
											</div>
											<div class="col-sm-4">
												<a role="button" class="btn btn-default" id="car_car_select_btn">검색</a>
											</div>
										</div>
									</div>
								</form>
							</div>
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0" style="font-size:13px;">*세부모델명</label>
										<div class="col-sm-10">
											<input type="text" class="form-control" value="차량모델" id="car_input_car_model" placeholder="" readonly>
											<!--
											<select id="car_select_car_model" class="form-control">
												<?php foreach($carmaster_list as $data):?>
													<option value="<?php echo $data['car_index']; ?>"> <?php echo $data['car_name_detail']; ?></option>
												<?php endforeach;?>
											</select>
											-->
										</div>
									</div>
								</form>
							</div>
						</div>
						<div class="row">

						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">연식</label>
									<div class="col-sm-10 year">
										<!-- <input type="number" id="car_select_car_birth" class="form-control" placeholder="예) 2009">
										<span>년</span> -->
										<select class="form-control" id="car_select_car_birth">
											<option value="2001">2001년</option>
											<option value="2002">2002년</option>
											<option value="2003">2003년</option>
											<option value="2004">2004년</option>
											<option value="2005">2005년</option>
											<option value="2006">2006년</option>
											<option value="2007">2007년</option>
											<option value="2008">2008년</option>
											<option value="2009">2009년</option>
											<option value="2010">2010년</option>
											<option value="2011">2011년</option>
											<option value="2012">2012년</option>
											<option value="2013">2013년</option>
											<option value="2014">2014년</option>
											<option value="2015">2015년</option>
											<option value="2016">2016년</option>
											<option value="2017">2017년</option>
											<option value="2018">2018년</option>
											<option value="2019">2019년</option>
											<option value="2020">2020년</option>
										</select>
									</div>
								</div>
							</form>
						</div>


							
							<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">정원</label>
									<div class="col-sm-10 year">
										<!-- <input type="number" class="form-control" value="" id="car_select_max_people">
										<span>명</span> -->
										<select class="form-control" id="car_select_max_people">
											<option value="4">4명</option>
											<option value="5">5명</option>
											<option value="6">6명</option>
											<option value="7">7명</option>
											<option value="8">8명</option>
											<option value="9">9명</option>
											<option value="10">10명</option>
											<option value="11">11명</option>
											<option value="12">12명</option>
											<option value="13">13명</option>
											<option value="14">14명</option>
											<option value="15">15명</option>
										</select>
									</div>
								</div>
							</form>
						</div>
							<!-- <div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">*영업소</label>
										<div class="col-sm-10">
											<select class="form-control" id="car_select_branch">
												<?php foreach($branch_list as $branch):?>
													<option value="<?php echo $branch['serial']; ?>"> <?php echo $branch['branch_name']; ?></option>
												<?php endforeach;?>
											</select>
										</div>
									</div>
								</form>
							</div> -->

							<!--
							<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-4 control-label text-left">영업소점</label>
										<div class="col-sm-8">
											<select class="form-control">
												<option>영업소<option>
											</select>
										</div>
									</div>
								</form>
							</div>
						-->
					</div>

					<div class="row">
						<div class="col-md-6">
								<form class="form-horizontal">
									<div class="form-group">
										<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">차대번호</label>
										<div class="col-sm-10">
											<input type="" id="car_input_car_register_number" class="form-control" value="">
										</div>
									</div>
								</form>
							</div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">색상</label>
									<div class="col-sm-10">
										<input id="car_input_color" class="form-control" value="">
									</div>
								</div>
							</form>
						</div>
					</div>
<!-- 					<div class="row">
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">색상</label>
									<div class="col-sm-10">
										<input id="car_input_color" class="form-control" value="">
									</div>
								</div>
							</form>
						</div>
					</div> -->
				</div>

				</div>

				<!--오른쪽 -->
			</div>

			<div class="modal-body bt_ccc">
				<div class="row">
					<div class="col-md-5"><h4>세부 정보</h4></div>
					<div class="pull-right col-md-3 text-right">
						<a class="btn action_btn" data-toggle="modal" data-target="#car_registration_option_dialog" id="car_input_option_register">등록</a>
					</div>
				</div>
				<div class="row pdt15">
						<div class="col-md-12">
							<div class="panel panel-default magb0">
								<div class="panel-body vehicle_info" id="car_div_option">
								</div>
							</div>
						</div>
				</div>
			</div>

			<div class="modal-body bt_ccc">
                <div class="row">
                    <div class="col-md-12"><h4>요금정보</h4></div>
                </div>

                <div class="row">

                    <div class="col-md-12">
                        <form class="form-horizontal">
                            <div class="form-group">
                                
                                <div class="col-sm-1 pdr0">
                                    <!-- <div class="col-md-6">
                                        <label for="" class="col-sm-12 control-label text-left pdr0"></label>
                                    </div> -->
                                    <!-- <div class="col-md-6 pdr0 pdl0">
                                        <label for="" class="col-sm-6 control-label text-center pdl0 pdr0">주중 대여료</label>
                                    </div> -->
                                </div>
                                <div class="col-sm-11">	
                                	<div class="col-sm-6 text-center">	
                                			<label for="" class="">*주중 대여료</label>
                                	</div>
                                	<div class="col-sm-6 text-center">	
                                			<label for="" class="">*주말 대여료</label>
                                	</div>
                                </div>

                                <!-- <div class="col-sm-6 pdr0">
                                    <div class="col-md-4">
                                        <label for="" class="col-sm-12 control-label text-left pdr0"></label>
                                    </div>
                                    <div class="col-md-8 pdr0 pdl0">
                                        <label for="" class="col-sm-6 control-label text-center pdl0 pdr0">주말 대여료</label>
                                    </div>
                                </div> -->

                            </div>
                        </form>
                    </div>

                    <div class="col-md-12">
                        <form class="form-horizontal">

                            <div class="form-group">
                                <label for="" class="col-sm-1 control-label text-left pdl0 pdr0">24시간</label>
                                <div class="col-sm-11">
	                                <div class="col-sm-6 percent">
	                                    <input type="number" id="car_input_week_price" numberOnly class="form-control">
	                                    <span>원</span>
	                                </div>
	                                <div class="col-sm-6 percent">
	                                    <input type="number" id="car_input_weekend_price" numberOnly class="form-control">
	                                    <span>원</span>
	                                </div>	
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-12">
                        <form class="form-horizontal">
                            
                            <div class="form-group">
                                <label for="" class="col-sm-1 control-label text-left pdl0 pdr0">6시간</label>
                                <div class="col-sm-11">

                                	<div class="col-sm-6 percent">
		                                <input type="number" id="car_input_week_price_6" numberOnly class="form-control">
	                                    <span>원</span>
                                	</div>
                                	
                                	<div class="col-sm-6 percent">
                                		<!-- <div class="col-sm-7 pdr0 pdl0" >
		                                    <input type="text" id="input_6weekend_cal" class="form-control col-sm-8" disabled>
		                                </div>
		                                <div class="col-sm-5 calc_percent pdl0 pdr0 price" >
		                                    <input type="text" id="input_6weekend_result" numberOnly class="form-control text-right" style="border-left:0;" disabled>
		                                    <span>원</span>
		                                </div>	 -->
		                                <input type="number" id="car_input_weekend_price_6" numberOnly class="form-control">
	                                    <span>원</span>
                                	</div>

                            	</div>
                            </div>
                        </form>
                    </div>

                    <div class="col-md-12">
                        <form class="form-horizontal">
                            
                            <div class="form-group">
                                <label for="" class="col-sm-1 control-label text-left pdl0 pdr0">1시간</label>
                                <div class="col-sm-11">
                                
                                	<div class="col-sm-6 percent">
		                                <!-- <div class="col-sm-7 pdr0 pdl0">
		                                    <input type="text" id="input_1week_cal" class="form-control col-sm-8" disabled>
		                                </div>
		                                <div class="col-sm-5 calc_percent pdl0 pdr0 price">
		                                    <input type="text" id="input_1week_result" numberOnly class="form-control text-right" style="border-left:0;" disabled>
		                                    <span>원</span>
		                                </div>-->
		                                <input type="number" id="car_input_week_price_1" numberOnly class="form-control">
	                                    <span>원</span>
	                                </div>	

	                                <div class="col-sm-6 percent">
	                                	<!-- <div class="col-sm-7 pdr0 pdl0" >
		                                    <input type="text" id="input_1weekend_cal" class="form-control col-sm-8" disabled>
		                                </div>
		                                <div class="col-sm-5 calc_percent pdl0 pdr0 price">
		                                    <input type="text" id="input_1weekend_result" numberOnly class="form-control text-right" style="border-left:0;" disabled>
		                                    <span>원</span>
		                                </div> -->
		                                <input type="number" id="car_input_weekend_price_1" numberOnly class="form-control">
	                                    <span>원</span>
	                                </div>
                                </div>

                            </div>
                        </form>
                    </div>

                    <!-- <div class="col-md-12 text-left" style="font-size:10px;">
                        <p>6시간, 1시간에 대한 퍼센트는 환경설정->요금설정에서 변경하실 수 있습니다. 
                        변경으로 바로 가시려면 <a href="/salesetting" class="a-link">이곳</a>을 클릭하세요.</p>
                    </div> -->

                </div>
        
            </div>
			</div>



		<div class="col-sm-6 pdl0">
		<div class="modal-body bt_ccc">
				<div class="row">
					<div class="col-md-12"><h4>보험정보</h4></div>
				</div>
				<div class="row pdt15">
					<div class="col-md-6">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">*보험회사</label>
								<div class="col-sm-10">
								<!-- <input type="text" id="car_input_insurance_company" class="form-control" placeholder="삼성화재"> -->
									<select id="car_select_insurance_company" class="form-control">
										<option>렌터카공제조합</option>
										<option>현대해상</option>
										<option>삼성화재</option>
										<option>동부화재</option>
										<option>메리츠화재</option>
										<option>롯데손해보험</option>
										<option>KB손해보험</option>
										<option>한화손해보험</option>
										<option>더케이손해보험</option>
										<option>AXA손해보험</option>
									</select>
								</div>
							</div>
						</form>
					</div>

					<div class="col-md-6">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">*보험연령</label>
								<div class="col-sm-10 year">
									<!-- <input type="number" id="car_input_require_age" style="padding-right: 48px" class="form-control" placeholder="21"/>
									<span>세 이상</span> -->
									<select id="car_select_require_age" class="form-control">

										<option value="21">만 21세 이상</option>
										<option value="23">만 23세 이상</option>
										<option value="26">만 26세 이상</option>
										<option value="30">만 30세 이상</option>
										<option value="18">만 18세 이상</option>
	<!-- 									<option val="26">운전경력 1년 이상</option>
										<option val="26">운전경력 3년 이상</option> -->
									</select>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">보험시작일</label>
								<div class="col-sm-10">
									<div class='input-group date'>
										<input type='text' id="car_input_insurance_start_date_text" data-date-format="yyyy년 mm월 dd일" readonly class="form-control" style="background:#FFF;"/>
										<!-- <span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span> -->

										
										

									</div>
									 <script language="javascript">
						                $('#car_input_insurance_start_date_text').datepicker({
						                  navTitles: {
						                   days: 'yyyy년 mm월'
						                 },
						                      //  todayButton: new Date(),
						                      clearButton: true,
						                      closeButton: true,
						                      language: 'en',
						                       onSelect: function (fd, d, picker) {
					                              // Do nothing if selection was cleared
					                              if (!d) return;
					                              car_insurance_start_date = d.getFullYear()+"-"+zeroPad(d.getMonth()+1,2)+"-"+zeroPad(d.getDate(),2);
					                            }


						                 })
					                    </script>
									<!-- <script type="text/javascript">
										$(function () {
											$('#car_input_insurance_start_date').datetimepicker({
												locale: 'ko',
												format: 'YYYY년 MM월 DD일'
											});
										});
									</script> -->
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-6">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left pdl0 pdr0">보험종료일</label>
								<div class="col-sm-10">
									<div class='input-group date' >
										<input type='text' id="car_input_insurance_end_date_text" data-date-format="yyyy년 mm월 dd일" readonly class="form-control" style="background:#FFF;"/>
									<!-- 	<span class="input-group-addon">
											<span class="glyphicon glyphicon-calendar"></span>
										</span> -->
									</div>
									 <script language="javascript">
						                $('#car_input_insurance_end_date_text').datepicker({
						                  navTitles: {
						                   days: 'yyyy년 mm월'
						                 },
						                      //  todayButton: new Date(),
						                      clearButton: true,
						                      closeButton: true,
						                      language: 'en',
						                       onSelect: function (fd, d, picker) {
					                              // Do nothing if selection was cleared
					                              if (!d) return;
					                              car_insurance_end_date = d.getFullYear()+"-"+zeroPad(d.getMonth()+1,2)+"-"+zeroPad(d.getDate(),2);
					                            }

						                 })
					                    </script>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdl0 pdr0">특약사항</label>
								<div class="col-sm-11">
									<textarea type="" id="car_input_insurance_text" class="form-control" style="height:auto;resize:none;" value="" rows="2"></textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
					<!--
					<div class="row">
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label text-left">총보험료</label>
									<div class="col-sm-8">
										<input type="" class="form-control" value="">
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label text-left">대인 I</label>
									<div class="col-sm-8">
										<input type="" class="form-control" value="">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label text-left">대인 II</label>
									<div class="col-sm-8">
										<input type="" class="form-control" value="">
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label text-left">대물</label>
									<div class="col-sm-8">
										<input type="" class="form-control" value="">
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label text-left">자손</label>
									<div class="col-sm-8">
										<input type="" class="form-control" value="">
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label text-left">자차</label>
									<div class="col-sm-8">
										<input type="" class="form-control" value="">
									</div>
								</div>
							</form>
						</div>
					</div>
				-->
					<!--
					<div class="row">
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label text-left">분납회차</label>
									<div class="col-sm-8">
										<select class="form-control">
											<option>일시불</option>
											<option>1회 분할</option>
											<option>2회 분할</option>
											<option>3회 분할</option>
											<option>4회 분할</option>
											<option>5회 분할</option>
											<option>6회 분할</option>
											<option>7회 분할</option>
											<option>8회 분할</option>
											<option>9회 분할</option>
											<option>10회 분할</option>
											<option>11회 분할</option>
											<option>12회 분할</option>
										</select>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label text-left">월납인일</label>
									<div class="col-sm-8">
										<select class="form-control">
											<option>1일</option>
											<option>2일</option>
											<option>3일</option>
											<option>4일</option>
											<option>5일</option>
											<option>6일</option>
											<option>7일</option>
											<option>8일</option>
											<option>9일</option>
											<option>10일</option>
											<option>11일</option>
											<option>12일</option>
											<option>13일</option>
											<option>14일</option>
											<option>15일</option>
											<option>16일</option>
											<option>17일</option>
											<option>18일</option>
											<option>19일</option>
											<option>20일</option>
											<option>21일</option>
											<option>22일</option>
											<option>23일</option>
											<option>24일</option>
											<option>25일</option>
											<option>26일</option>
											<option>27일</option>
											<option>28일</option>
											<option>29일</option>
											<option>30일</option>
											<option>31일</option>
										</select>
									</div>
								</div>
							</form>
						</div>
					</div>
				-->
					<!--
					<div class="row">
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label text-left">잔여회차</label>
									<div class="col-sm-3">
										<input type="" class="form-control" value=" ">
									</div>
									<div class="col-sm-5 pdl0">
										<div class="input-group">
											<input type="text" class="form-control" id="exampleInputAmount" placeholder="">
											<div class="input-group-addon">??</div>
										</div>
									</div>
								</div>
							</form>
						</div>
						<div class="col-md-6">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-4 control-label text-left">차량만료일</label>
									<div class="col-sm-8">
										<div class="input-group">
											<input type="text" class="form-control" id="exampleInputAmount" placeholder="">
											<div class="input-group-addon">??</div>
											<div class="input-group-addon">??</div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				-->


				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-12 pdr0">
									<div class="col-md-2">
										<label for="" class="col-sm-12 control-label text-left pdr0"></label>
									</div>
									<div class="col-md-10 pdr0 pdl0">
										<label for="" class="col-sm-6 control-label text-center pdl0">*보상범위</label>
										<label for="" class="col-sm-6 control-label text-center pdl0">*고객부담금</label>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="">
									<div class="col-md-3 pdl0 text-left">
										<div class="checkbox">

											<div class="insurance_item pull-left">
											  <input type="checkbox" id="car_checkbox_person1" >
											  <label for="car_checkbox_person1">
											  </label>
											</div>
											<div class="pull-left insurance_txt">대인 I</div>
										</div>
									</div>
									<div class="col-md-9 pdr0 pdl0">
										<div class="col-sm-6 pdl0">
											<!-- <input id="car_insurance_person1_compensation" type="" class="form-control" value="" disabled> -->
											<select class="form-control" id="car_insurance_person1_compensation" disabled>
												<option>없음</option>
												<option>100만원</option>
												<option>200만원</option>
												<option>300만원</option>
												<option>400만원</option>
												<option>500만원</option>
												<option>1000만원</option>
												<option>1500만원</option>
												<option>2000만원</option>
												<option>3000만원</option>
												<option>4000만원</option>
												<option>5000만원</option>
												<option>6000만원</option>
												<option>7000만원</option>
												<option>8000만원</option>
												<option>9000만원</option>
												<option>1억원</option>
												<option>2억원</option>
												<option>3억원</option>
											  	<option>무한</option>
											</select>
										</div>
										<div class="col-sm-6 pdl0 price">
											<!-- <input id="car_insurance_person1_customer" numberOnly  type="number" class="form-control" value="" disabled>
											<span>원</span> -->
											<select class="form-control" id="car_insurance_person1_customer" disabled>
												<option>없음</option>
												<option>1만원</option>
												<option>2만원</option>
												<option>3만원</option>
												<option>4만원</option>
												<option>5만원</option>
												<option>6만원</option>
												<option>7만원</option>
												<option>8만원</option>
												<option>9만원</option>
												<option>10만원</option>
												<option>15만원</option>
												<option>20만원</option>
												<option>30만원</option>
												<option>40만원</option>
												<option>50만원</option>
												<option>100만원</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="">
									<div class="col-md-3 pdl0 text-left">
										<div class="checkbox">

											<div class="insurance_item pull-left">
											  <input type="checkbox" id="car_checkbox_person2" >
											  <label for="car_checkbox_person2">
											  </label>
											</div>
											<div class="pull-left insurance_txt">대인 II</div>
										</div>
									</div>
									<div class="col-md-9 pdr0 pdl0">
										<div class="col-sm-6 pdl0">
											<!-- <input id="car_insurance_person2_compensation" type="" class="form-control" value="" disabled> -->
											<select class="form-control" id="car_insurance_person2_compensation" disabled>
											  	<option>없음</option>
												<option>100만원</option>
												<option>200만원</option>
												<option>300만원</option>
												<option>400만원</option>
												<option>500만원</option>
												<option>1000만원</option>
												<option>1500만원</option>
												<option>2000만원</option>
												<option>3000만원</option>
												<option>4000만원</option>
												<option>5000만원</option>
												<option>6000만원</option>
												<option>7000만원</option>
												<option>8000만원</option>
												<option>9000만원</option>
												<option>1억원</option>
												<option>2억원</option>
												<option>3억원</option>
											  	<option>무한</option>
										  		<option>없음</option>
											</select>
										</div>
										<div class="col-sm-6 pdl0 price">
											<!-- <input id="car_insurance_person2_customer" type="number" class="form-control" value="" disabled>
											<span>원</span> -->
											<select class="form-control" id="car_insurance_person2_customer" disabled>
												<option>없음</option>
												<option>1만원</option>
												<option>2만원</option>
												<option>3만원</option>
												<option>4만원</option>
												<option>5만원</option>
												<option>6만원</option>
												<option>7만원</option>
												<option>8만원</option>
												<option>9만원</option>
												<option>10만원</option>
												<option>15만원</option>
												<option>20만원</option>
												<option>30만원</option>
												<option>40만원</option>
												<option>50만원</option>
												<option>100만원</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<div>
									<div class="col-md-3 pdl0 text-left">
										<div class="checkbox">

											<div class="insurance_item pull-left">
											  <input type="checkbox" id="car_checkbox_object" >
											  <label for="car_checkbox_object">
											  </label>
											</div>
											<div class="pull-left insurance_txt">대물</div>
										</div>
									</div>
									<div class="col-md-9 pdr0 pdl0">
										<div class="col-sm-6 pdl0">
											<!-- <input id="car_insurance_object_compensation" type="" class="form-control" value="" disabled> -->
											<select class="form-control" id="car_insurance_object_compensation" disabled>
											  	<option>없음</option>
												<option>100만원</option>
												<option>200만원</option>
												<option>300만원</option>
												<option>400만원</option>
												<option>500만원</option>
												<option>1000만원</option>
												<option>1500만원</option>
												<option>2000만원</option>
												<option>3000만원</option>
												<option>4000만원</option>
												<option>5000만원</option>
												<option>6000만원</option>
												<option>7000만원</option>
												<option>8000만원</option>
												<option>9000만원</option>
												<option>1억원</option>
												<option>2억원</option>
												<option>3억원</option>
											  	<option>무한</option>
											</select>
										</div>
										<div class="col-sm-6 pdl0 price">
											<!-- <input id="car_insurance_object_customer" type="number" class="form-control" value="" disabled>
											<span>원</span> -->
											<select class="form-control" id="car_insurance_object_customer" disabled>
												<option>없음</option>
												<option>1만원</option>
												<option>2만원</option>
												<option>3만원</option>
												<option>4만원</option>
												<option>5만원</option>
												<option>6만원</option>
												<option>7만원</option>
												<option>8만원</option>
												<option>9만원</option>
												<option>10만원</option>
												<option>15만원</option>
												<option>20만원</option>
												<option>30만원</option>
												<option>40만원</option>
												<option>50만원</option>
												<option>100만원</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="">
									<div class="col-md-3 pdl0 text-left">
										<div class="checkbox">

											<div class="insurance_item pull-left">
											  <input type="checkbox" id="car_checkbox_children" >
											  <label for="car_checkbox_children">
											  </label>
											</div>
											<div class="pull-left insurance_txt">자손</div>
										</div>
									</div>
									<div class="col-md-9 pdr0 pdl0">
										<div class="col-sm-6 pdl0">
											<!-- <input id="car_insurance_children_compensation" type="" class="form-control" value="" disabled> -->
											<select class="form-control" id="car_insurance_children_compensation" disabled>
											  	<option>없음</option>
												<option>100만원</option>
												<option>200만원</option>
												<option>300만원</option>
												<option>400만원</option>
												<option>500만원</option>
												<option>1000만원</option>
												<option>1500만원</option>
												<option>2000만원</option>
												<option>3000만원</option>
												<option>4000만원</option>
												<option>5000만원</option>
												<option>6000만원</option>
												<option>7000만원</option>
												<option>8000만원</option>
												<option>9000만원</option>
												<option>1억원</option>
												<option>2억원</option>
												<option>3억원</option>
											  	<option>무한</option>
											</select>
										</div>
										<div class="col-sm-6 pdl0 price">
											<!-- <input id="car_insurance_children_customer" type="number" class="form-control" value="" disabled>
											<span>원</span> -->
											<select class="form-control" id="car_insurance_children_customer" disabled>
												<option>없음</option>
												<option>1만원</option>
												<option>2만원</option>
												<option>3만원</option>
												<option>4만원</option>
												<option>5만원</option>
												<option>6만원</option>
												<option>7만원</option>
												<option>8만원</option>
												<option>9만원</option>
												<option>10만원</option>
												<option>15만원</option>
												<option>20만원</option>
												<option>30만원</option>
												<option>40만원</option>
												<option>50만원</option>
												<option>100만원</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="col-sm-12 pdr0">
									<div class="col-md-3">
										<label for="" class="col-sm-12 control-label text-left pdr0"></label>
									</div>
									<div class="col-md-9 pdr0 pdl0">
										<label for="" class="col-sm-4 control-label text-center pdl0">*24시간 보험료</label>
										<label for="" class="col-sm-4 control-label text-center pdl0">*보장한도</label>
										<label for="" class="col-sm-4 control-label text-center pdl0">*고객부담금</label>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="">
									<div class="col-md-3 pdl0 text-left">
										<div class="checkbox">

											<div class="insurance_item pull-left">
											  <input type="checkbox" id="car_checkbox_self1" >
											  <label for="car_checkbox_self1">
											  </label>
											</div>
											<div class="pull-left insurance_txt">자차 I</div>
										</div>
									</div>
									<div class="col-md-9 pdr0 pdl0">
										<div class="col-sm-4 pdl0 price">
											<!-- <input id="car_insurance_self1_pay" type="number" class="form-control" value="" disabled>
											<span>원</span> -->
											<select class="form-control" id="car_insurance_self1_pay" disabled>
												<option value='0'>없음</option>
												<option value='5000'>5천원</option>
												<option value='10000'>1만원</option>
												<option value='15000'>1만5천원</option>
												<option value='20000'>2만원</option>
												<option value='30000'>3만원</option>
												<option value='40000'>4만원</option>
												<option value='50000'>5만원</option>
												<option value='60000'>6만원</option>
												<option value='70000'>7만원</option>
												<option value='80000'>8만원</option>
												<option value='90000'>9만원</option>
												<option value='100000'>10만원</option>
												<option value='150000'>15만원</option>
												<option value='200000'>20만원</option>
												<option value='300000'>30만원</option>
												<option value='400000'>40만원</option>
												<option value='500000'>50만원</option>
												<option value='1000000'>100만원</option>
											</select>
										</div>
										<div class="col-sm-4 pdl0">
											<!-- <input id="car_insurance_self1_compensation" type="" class="form-control" value="" disabled> -->
											<select class="form-control" id="car_insurance_self1_compensation" disabled>
											  	<option>없음</option>
											  	<option>100만원</option>
											  	<option>200만원</option>
										  		<option>300만원</option>
										  		<option>400만원</option>
											  	<option>500만원</option>
										  		<option>1000만원</option>
										  		<option>2000만원</option>
											  	<option>3000만원</option>
											  	<option>4000만원</option>
											  	<option>5000만원</option>
											  	<option>6000만원</option>
											  	<option>7000만원</option>
											  	<option>8000만원</option>
											  	<option>9000만원</option>
											  	<option>1억원</option>
											  	<option>2억원</option>
											  	<option>3억원</option>
										  		<option>무한</option>
											</select>
										</div>
										<div class="col-sm-4 pdl0 price">
											<!-- <input id="car_insurance_self1_customer" type="number" class="form-control" value="" disabled>
											<span>원</span> -->
											<select class="form-control" id="car_insurance_self1_customer" disabled>
												<option>없음</option>
												<option>1만원</option>
												<option>2만원</option>
												<option>3만원</option>
												<option>4만원</option>
												<option>5만원</option>
												<option>6만원</option>
												<option>7만원</option>
												<option>8만원</option>
												<option>9만원</option>
												<option>10만원</option>
												<option>15만원</option>
												<option>20만원</option>
												<option>30만원</option>
												<option>40만원</option>
												<option>50만원</option>
												<option>100만원</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="">
									<div class="col-md-3 pdl0 text-left">
										<div class="checkbox">

											<div class="insurance_item pull-left">
											  <input type="checkbox" id="car_checkbox_self2" >
											  <label for="car_checkbox_self2">
											  </label>
											</div>
											<div class="pull-left insurance_txt">자차 II</div>
										</div>
									</div>
									<div class="col-md-9 pdr0 pdl0">
										<div class="col-sm-4 pdl0 price">
											<!-- <input id="car_insurance_self2_pay" type="number" class="form-control" value="" disabled>
											<span>원</span> -->
											<select class="form-control" id="car_insurance_self2_pay" disabled>
												<option value='0'>없음</option>
												<option value='5000'>5천원</option>
												<option value='10000'>1만원</option>
												<option value='15000'>1만5천원</option>
												<option value='20000'>2만원</option>
												<option value='30000'>3만원</option>
												<option value='40000'>4만원</option>
												<option value='50000'>5만원</option>
												<option value='60000'>6만원</option>
												<option value='70000'>7만원</option>
												<option value='80000'>8만원</option>
												<option value='90000'>9만원</option>
												<option value='100000'>10만원</option>
												<option value='150000'>15만원</option>
												<option value='200000'>20만원</option>
												<option value='300000'>30만원</option>
												<option value='400000'>40만원</option>
												<option value='500000'>50만원</option>
												<option value='1000000'>100만원</option>
											</select>
										</div>
										<div class="col-sm-4 pdl0">
											<!-- <input id="car_insurance_self2_compensation" type="" class="form-control" value="" disabled> -->
											<select class="form-control" id="car_insurance_self2_compensation" disabled>
											  	<option>없음</option>
											  	<option>100만원</option>
											  	<option>200만원</option>
										  		<option>300만원</option>
										  		<option>400만원</option>
											  	<option>500만원</option>
										  		<option>1000만원</option>
										  		<option>2000만원</option>
											  	<option>3000만원</option>
											  	<option>4000만원</option>
											  	<option>5000만원</option>
											  	<option>6000만원</option>
											  	<option>7000만원</option>
											  	<option>8000만원</option>
											  	<option>9000만원</option>
											  	<option>1억원</option>
											  	<option>2억원</option>
											  	<option>3억원</option>
										  		<option>무한</option>
											</select>
										</div>
										<div class="col-sm-4 pdl0 price">
											<!-- <input id="car_insurance_self2_customer" type="number" class="form-control" value="" disabled>
											<span>원</span> -->
											<select class="form-control" id="car_insurance_self2_customer" disabled>
												<option>없음</option>
												<option>1만원</option>
												<option>2만원</option>
												<option>3만원</option>
												<option>4만원</option>
												<option>5만원</option>
												<option>6만원</option>
												<option>7만원</option>
												<option>8만원</option>
												<option>9만원</option>
												<option>10만원</option>
												<option>15만원</option>
												<option>20만원</option>
												<option>30만원</option>
												<option>40만원</option>
												<option>50만원</option>
												<option>100만원</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="">
									<div class="col-md-3 pdl0 text-left">
										<div class="checkbox">

											<div class="insurance_item pull-left">
											  <input type="checkbox" id="car_checkbox_self3" >
											  <label for="car_checkbox_self3">
											  </label>
											</div>
											<div class="pull-left insurance_txt">자차 III</div>
										</div>
									</div>
									<div class="col-md-9 pdr0 pdl0">
										<div class="col-sm-4 pdl0 price">
											<!-- <input id="car_insurance_self2_pay" type="number" class="form-control" value="" disabled>
											<span>원</span> -->
											<select class="form-control" id="car_insurance_self3_pay" disabled>
												<option value='0'>없음</option>
												<option value='5000'>5천원</option>
												<option value='10000'>1만원</option>
												<option value='15000'>1만5천원</option>
												<option value='20000'>2만원</option>
												<option value='30000'>3만원</option>
												<option value='40000'>4만원</option>
												<option value='50000'>5만원</option>
												<option value='60000'>6만원</option>
												<option value='70000'>7만원</option>
												<option value='80000'>8만원</option>
												<option value='90000'>9만원</option>
												<option value='100000'>10만원</option>
												<option value='150000'>15만원</option>
												<option value='200000'>20만원</option>
												<option value='300000'>30만원</option>
												<option value='400000'>40만원</option>
												<option value='500000'>50만원</option>
												<option value='1000000'>100만원</option>
											</select>
										</div>
										<div class="col-sm-4 pdl0">
											<!-- <input id="car_insurance_self2_compensation" type="" class="form-control" value="" disabled> -->
											<select class="form-control" id="car_insurance_self3_compensation" disabled>
											  	<option>없음</option>
											  	<option>100만원</option>
											  	<option>200만원</option>
										  		<option>300만원</option>
										  		<option>400만원</option>
											  	<option>500만원</option>
										  		<option>1000만원</option>
										  		<option>2000만원</option>
											  	<option>3000만원</option>
											  	<option>4000만원</option>
											  	<option>5000만원</option>
											  	<option>6000만원</option>
											  	<option>7000만원</option>
											  	<option>8000만원</option>
											  	<option>9000만원</option>
											  	<option>1억원</option>
											  	<option>2억원</option>
											  	<option>3억원</option>
										  		<option>무한</option>
											</select>
										</div>
										<div class="col-sm-4 pdl0 price">
											<!-- <input id="car_insurance_self2_customer" type="number" class="form-control" value="" disabled>
											<span>원</span> -->
											<select class="form-control" id="car_insurance_self3_customer" disabled>
												<option>없음</option>
												<option>1만원</option>
												<option>2만원</option>
												<option>3만원</option>
												<option>4만원</option>
												<option>5만원</option>
												<option>6만원</option>
												<option>7만원</option>
												<option>8만원</option>
												<option>9만원</option>
												<option>10만원</option>
												<option>15만원</option>
												<option>20만원</option>
												<option>30만원</option>
												<option>40만원</option>
												<option>50만원</option>
												<option>100만원</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
<!-- 						<div class="col-md-12">
						<form class="form-horizontal">
							<div class="form-group">
								<div class="col-md-12 pdr0">
									<div class="col-md-2">
									</div>
									<div class="col-md-10 pdr0 pdl0">
										<div class="col-sm-4 pdl0">
										</div>
										<div class="col-sm-4 pdl0">
											<label for="" class="col-sm-12 control-label text-left pdr0 pdl0">총보험료</label>
										</div>
										<div class="col-sm-4 pdl0">
											<input type="" class="form-control" value="" >
										</div>
									</div>
								</div>
							</div>
						</form>
					</div> -->
				</div>

			</div>
		</div>
		</div>


	<div id="car_info_history_none">
		<div class="modal-body bt_ccc">
			<div class="row">
				<div class="col-md-12">
					<ul class="nav nav-tabs">
						<li class="active col-md-2 pdr0 pdl0"><a data-toggle="tab" href="#menu1" id="tab_check_history">점검내역</a></li>
						<li class="col-md-2 pdr0 pdl0"><a data-toggle="tab" href="#menu2" id="tab_check_supply">소모품교환</a></li>
						<li class="col-md-2 pdr0 pdl0"><a data-toggle="tab" href="#menu3" id="tab_check_accident">사고내역</a></li>
						<li class="col-md-2 pdr0 pdl0"><a data-toggle="tab" href="#menu4" id="tab_check_repair">정비내역</a></li>
						<li class="col-md-2 pdr0 pdl0"><a data-toggle="tab" href="#menu5" id="tab_check_go">현장출동</a></li>
					</ul>
					<div class="tab-content">
						<div class="pdt15 pdb15">
							<button id="btn_history_register" class="btn action_btn" >등록</button>
<!-- 								<button id="btn_history_modify" type="button" class="btn btn-default" >수정</button>
<button id="btn_history_delete" type="button" class="btn btn-default" >삭제</button> -->
<button id="btn_history_excel" type="button" class="btn btn-default" onclick="saveHistoryExcel();">엑셀로 저장</button>
</div>
<div id="grid_history">
</div>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="modal-footer">
	<!-- <button id="btn_car_delete" type="button" class="btn btn-danger pull-left">삭제</button> -->
	<button id="btn_car_close" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
	<button id="btn_car_save" type="button" class="btn action_btn">저장</button>
</div>
</div>
</div>

</div>
</div>




<!-- Modal 차량분류-->
<div class="modal fade" id="search_vehicles_dialog" role="dialog" >
	<div class="modal-dialog modal_dialog500">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button id="" type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="" class="modal-title">차량분류</h4>
			</div>

			<div class="modal-body">
				<div class="row">
					<div class="col-sm-12 pdt15">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 pdr0 pdl0 control-label text-left" style="font-size:12px;">제조사</label>
								<div class="col-sm-11">
									<select class="form-control" id="car_select_maker">
									<?php foreach($maker_list as $maker):?>
										<option value="<?php echo $maker['maker_index']; ?>"> <?php echo $maker['maker_name']; ?></option>
									<?php endforeach;?>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12 ">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 pdr0 pdl0 control-label text-left" style="font-size:12px;">모델</label>
								<div class="col-sm-11">
									<select class="form-control" id="car_select_car_model1">
										<?php foreach($carmodel_list as $carmaster):?>
											<option value=""> <?php echo $carmaster['car_name']; ?></option>
										<?php endforeach;?>

									</select>
								</div>
							</div>
						</form>
					</div>

					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 pdr0 pdl0 control-label text-left" style="font-size:12px;">세부모델명</label>
								<div class="col-sm-11">
									<select class="form-control" id="car_select_car_model2">
										<?php foreach($carmodel_detail_list as $carmodel):?>
											<option value="<?php echo $carmodel['car_index']; ?>"> <?php echo $carmodel['car_name_detail']; ?></option>
										<?php endforeach;?>
									</select>
								</div>
							</div>
						</form>
					</div>
					<!-- <div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">승차인원</label>
								<div class="col-sm-10">
									<input class="form-control" placeholder="" disabled>
								</div>
							</div>
						</form>
					</div> -->
					<!-- <div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">표준<br />대여금액</label>
								<div class="col-sm-10">
									<input type="number" id="" class="form-control" value="240,000원" placeholder="">
								</div>
							</div>
						</form>
					</div> -->
				</div>
      </div>

			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="car_model_detail_close_btn" data-dismiss="modal">취소</button>
				<button type="button" class="btn action_btn" id="car_model_detail_select_btn">선택</button>
			</div>

		</div>
	</div>
</div>
<!--차량분류 모달-->

<!-- Modal 차량옵션 등록-->
<div class="modal fade" id="car_registration_option_dialog" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button id="" type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="" class="modal-title">차량옵션 등록</h4>
			</div>

			<div class="modal-body" style="font-size:12px;">
				<div class="row">
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdt0">사용연료</label>
								<div class="col-sm-11">
										<!-- <input type="number" class="form-control" value="" id="car_select_max_people">
										<span>명</span> -->
										<select class="form-control" id="car_select_fuel">
											<option value="가솔린">가솔린</option>
											<option value="디젤">디젤</option>
											<option value="LPG">LPG</option>
											<option value="하이브리드">하이브리드</option>
											<option value="전기">전기</option>
										</select>
<!-- 			              <div class="radio-inline">
			                <label><input type="radio" name="car_option_fuel" id="car_radio_fuel_gasoline" value="휘발유"><span class="circle"></span><span class="check"></span> 휘발유</label>
			              </div>
			              <div class="radio-inline">
			                <label><input type="radio" name="car_option_fuel" id="car_radio_fuel_disel" value="디젤"><span class="circle"></span><span class="check"></span> 디젤</label>
			              </div>
										<div class="radio-inline">
			                <label><input type="radio" name="car_option_fuel" id="car_radio_fuel_lpg" value="LPG"><span class="circle"></span><span class="check"></span> LPG</label>
			              </div>
										<div class="radio-inline">
			                <label><input type="radio" name="car_option_fuel" id="car_radio_fuel_hybrid" value="하이브리드"><span class="circle"></span><span class="check"></span> 하이브리드</label>
			              </div>
										<div class="radio-inline">
			                <label><input type="radio" name="car_option_fuel" id="car_radio_fuel_electronic" value="전기"><span class="circle"></span><span class="check"></span> 전기</label>
			              </div> -->
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12 ">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdt0">변속타입</label>
								<div class="col-sm-11">
								<select class="form-control" id="car_select_gear">
											<option value="자동">자동</option>
											<option value="수동">수동</option>
										</select>
			            <!--   <div class="radio-inline">
			                <label><input type="radio" name="car_option_gear" id="car_radio_gear_auto" value="자동"><span class="circle"></span><span class="check"></span> 자동</label>
			              </div>
			              <div class="radio-inline">
			                <label><input type="radio" name="car_option_gear" id="car_radio_gear_manual" value="수동"><span class="circle"></span><span class="check"></span> 수동</label>
			              </div> -->
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdt0">금연유무</label>
								<div class="col-sm-11">
									<select class="form-control" id="car_select_smoking">
											<option value="N">금연</option>
											<option value="Y">흡연</option>
									</select>
									<!-- 	<div class="radio-inline">
											<label><input type="radio" name="car_option_smoking" id="car_radio_no_smoking" value="N"><span class="circle"></span><span class="check"></span> 금연</label>
										</div>
										<div class="radio-inline">
											<label><input type="radio" name="car_option_smoking" id="car_radio_smoking" value="Y"><span class="circle"></span><span class="check"></span> 흡연</label>
										</div> -->
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdt0">운전경력</label>
								<div class="col-sm-11">
									<select class="form-control" id="car_select_minimun_drive_year">
											<option value="1">면허취득1년이상</option>
											<option value="3">면허취득3년이상</option>
											<option value="5">면허취득5년이상</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-1 control-label text-left pdt0">면허종류</label>
								<div class="col-sm-11">
									<select class="form-control" id="car_select_license_type">
											<option value="N">2종 보통면허 이상</option>
											<option value="Y">1종 보통면허 이상</option>
									</select>
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group magb0">
								<label for="" class="col-sm-1 control-label text-left pdt0">차량옵션</label>
								<div class="col-sm-11">
									<div class="panel panel-default magb0">
										<div class="panel-body vehicle_info">

											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_navi"><span class="checkbox-material"><span class="check"></span></span> 네비게이션</label></div>
											</div>
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_backcamera"><span class="checkbox-material"><span class="check"></span></span> 후방카메라</label></div>
											</div>
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_blackbox"><span class="checkbox-material"><span class="check"></span></span> 블랙박스</label></div>
											</div>
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_hi_pass"><span class="checkbox-material"><span class="check"></span></span> 하이패스</label></div>
											</div>
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_bluetooth"><span class="checkbox-material"><span class="check"></span></span> 블루투스</label></div>
											</div>
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_cdplayer"><span class="checkbox-material"><span class="check"></span></span> CD</label></div>
											</div>
											<!-- <div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_automatic_back_mirror"><span class="checkbox-material"><span class="check"></span></span> 전동백미러</label></div>
											</div> -->
											
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_aux"><span class="checkbox-material"><span class="check"></span></span> AUX</label></div>
											</div>

											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_usb"><span class="checkbox-material"><span class="check"></span></span> USB</label></div>
											</div>

											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_heatseat"><span class="checkbox-material"><span class="check"></span></span> 열선시트</label></div>
											</div>

											<!-- <div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_gps"><span class="checkbox-material"><span class="check"></span></span> GPS</label></div>
											</div> -->
											<!-- <div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_rear_senser"><span class="checkbox-material"><span class="check"></span></span> 후방감지기</label></div>
											</div> -->
										

											
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_sunroof"><span class="checkbox-material"><span class="check"></span></span> 썬루프</label></div>
											</div>
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_smart_key"><span class="checkbox-material"><span class="check"></span></span> 스마트키</label></div>
											</div>
											<!-- <div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_lane_departure_warning"><span class="checkbox-material"><span class="check"></span></span> 차선이탈</label></div>
											</div> -->
											<!-- <div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_automatic_seat"><span class="checkbox-material"><span class="check"></span></span> 전동시트</label></div>
											</div> -->
											<!-- <div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_front_senser"><span class="checkbox-material"><span class="check"></span></span> 전방감지기</label></div>
											</div> -->
										
											<!-- <div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_av_system"><span class="checkbox-material"><span class="check"></span></span> AV시스템</label></div>
											</div> -->
											<!-- <div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_ecm"><span class="checkbox-material"><span class="check"></span></span> ECM</label></div>
											</div> -->
											<!-- <div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_week_48"><span class="checkbox-material"><span class="check"></span></span> 주중48시간</label></div>
											</div> -->
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_weekend_48"><span class="checkbox-material"><span class="check"></span></span>48시간이상(주말)</label></div>
											</div>
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_second_driver"><span class="checkbox-material"><span class="check"></span></span>제2운전자등록가능</label></div>
											</div>
											<div class="col-md-4">
												<div class="checkbox-inline"><label><input type="checkbox" id="car_checkbox_international_license"><span class="checkbox-material"><span class="check"></span></span>국제운전면허증가능</label></div>
											</div>

										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
      </div>

			<div class="modal-footer">
				<button id="car_input_option_close_btn" type="button" class="btn btn-default" data-dismiss="modal" >닫기</button>
				<button id="car_input_option_save_btn" type="button" class="btn action_btn">저장</button>
			</div>

		</div>
	</div>
</div>
<script>



function saveHistoryExcel(){

	switch(selected_tab){
	 	case 1:
	 	historyExcelFilename = "점검내역" +  today.toISOString().substring(0, 10) + ".xlsx"; 	
	 			break;
	 	case 2:
		historyExcelFilename = "소모품교환" +  today.toISOString().substring(0, 10)+ ".xlsx"; 	
	 			break;
	 	case 3:
	 	historyExcelFilename = "사고내역" +  today.toISOString().substring(0, 10)+ ".xlsx"; 	
	 			break;
	 	case 4:
	 	historyExcelFilename = "정비내역" +  today.toISOString().substring(0, 10)+ ".xlsx"; 	
	 			break;
	 	case 5:
	 	historyExcelFilename = "현장출동" +  today.toISOString().substring(0, 10) + ".xlsx"; 		
	 			break;
	 	default:
	 			break;
	}
	var grid = $("#grid_history").data("kendoGrid");
	grid.saveAsExcel();
}

//보험 체크박스 change 이벤트
$("#car_checkbox_person1").change(function(){
        var checked = $(this).is(":checked");//.attr('checked');
        if(checked){
        	$("#car_insurance_person1_compensation").prop('disabled', false);
        	$("#car_insurance_person1_customer").prop('disabled', false);
        }else{
        	$("#car_insurance_person1_compensation").prop('disabled', true);
        	$("#car_insurance_person1_customer").prop('disabled', true);
        } 
    });
$("#car_checkbox_person2").change(function(){
        var checked = $(this).is(":checked");//.attr('checked');
        if(checked){
        	$("#car_insurance_person2_compensation").prop('disabled', false);
        	$("#car_insurance_person2_customer").prop('disabled', false);
        }else{
        	$("#car_insurance_person2_compensation").prop('disabled', true);
        	$("#car_insurance_person2_customer").prop('disabled', true);
        } 
    });

$("#car_checkbox_object").change(function(){
        var checked = $(this).is(":checked");//.attr('checked');
        if(checked){
        	$("#car_insurance_object_compensation").prop('disabled', false);
        	$("#car_insurance_object_customer").prop('disabled', false);
        }else{
        	$("#car_insurance_object_compensation").prop('disabled', true);
        	$("#car_insurance_object_customer").prop('disabled', true);
        } 
    });

$("#car_checkbox_children").change(function(){
        var checked = $(this).is(":checked");//.attr('checked');
        if(checked){
        	$("#car_insurance_children_compensation").prop('disabled', false);
        	$("#car_insurance_children_customer").prop('disabled', false);
        }else{
        	$("#car_insurance_children_compensation").prop('disabled', true);
        	$("#car_insurance_children_customer").prop('disabled', true);
        } 
    });

$("#car_checkbox_self1").change(function(){
        var checked = $(this).is(":checked");//.attr('checked');
        if(checked){
        	$("#car_insurance_self1_pay").prop('disabled', false);
        	$("#car_insurance_self1_compensation").prop('disabled', false);
        	$("#car_insurance_self1_customer").prop('disabled', false);
        }else{
        	$("#car_insurance_self1_pay").prop('disabled', true);
        	$("#car_insurance_self1_compensation").prop('disabled', true);
        	$("#car_insurance_self1_customer").prop('disabled', true);
        } 
    });

$("#car_checkbox_self2").change(function(){
        var checked = $(this).is(":checked");//.attr('checked');
        if(checked){
        	$("#car_insurance_self2_pay").prop('disabled', false);
        	$("#car_insurance_self2_compensation").prop('disabled', false);
        	$("#car_insurance_self2_customer").prop('disabled', false);
        }else{
        	$("#car_insurance_self2_pay").prop('disabled', true);
        	$("#car_insurance_self2_compensation").prop('disabled', true);
        	$("#car_insurance_self2_customer").prop('disabled', true);
        } 
    });
$("#car_checkbox_self3").change(function(){
        var checked = $(this).is(":checked");//.attr('checked');
        if(checked){
        	$("#car_insurance_self3_pay").prop('disabled', false);
        	$("#car_insurance_self3_compensation").prop('disabled', false);
        	$("#car_insurance_self3_customer").prop('disabled', false);
        }else{
        	$("#car_insurance_self3_pay").prop('disabled', true);
        	$("#car_insurance_self3_compensation").prop('disabled', true);
        	$("#car_insurance_self3_customer").prop('disabled', true);
        } 
    });


 $("#car_input_option_register").click(function(){

 });


 //저장 버튼 이벤트
 $("#btn_car_save").click(function(){

 		//유효성 검사
        var car_number = $("#car_input_car_number").val(); //차량번호
        if(car_number == null || car_number==''){
        	alert("차량번호를 입력해 주세요.");
        	$("#car_input_car_number").focus();
        	return false;
        }
        var car_model_text = $("#car_input_car_model").val();
        if(car_model_text == null || car_model_text==''){
        	alert("차량은 반드시 선택해야 합니다.");
        	$("#car_car_select_btn").focus();
        	return false;
        }

        // if(option_fuel == '' || option_smoking == '' || option_gear =='' || option_license_type=='' || option_){
        // 	alert("차량 세부 정보를 입력해 주세요.");
        // 	return false;
        // }


        if($('#car_input_week_price').val() == ''){
        	alert("주중 대여료를 입력해 주세요.");
        	$('#car_input_week_price').focus();
        	return false;
        }else if($('#car_input_week_price').val() <= 0){
        	alert("주중 대여료는 0보다 커야 합니다.");
        	$('#car_input_week_price').focus();
        	return false;
        }

        if( $('#car_input_weekend_price').val() == ''){
        	alert("주말 대여료를 입력해 주세요.");
        	$('#car_input_weekend_price').focus();
        	return false;
        }else if($('#car_input_weekend_price').val() <= 0){
        	alert("주말 대여료는 0보다 커야 합니다.");
        	$('#car_input_weekend_price').focus();
        	return false;
        }

         if($('#car_input_week_price_6').val() == ''){
        	alert("주중 6시간 대여료를 입력해 주세요.");
        	$('#car_input_week_price_6').focus();
        	return false;
        }else if($('#car_input_week_price_6').val() <= 0){
        	alert("주중 6시간 대여료는 0보다 커야 합니다.");
        	$('#car_input_week_price_6').focus();
        	return false;
        }

        if( $('#car_input_weekend_price_6').val() == ''){
        	alert("주말 6시간 대여료를 입력해 주세요.");
        	$('#car_input_weekend_price_6').focus();
        	return false;
        }else if($('#car_input_weekend_price_6').val() <= 0){
        	alert("주말 6시간 대여료는 0보다 커야 합니다.");
        	$('#car_input_weekend_price_6').focus();
        	return false;
        }

         if($('#car_input_week_price_1').val() == ''){
        	alert("주중 1시간 대여료를 입력해 주세요.");
        	$('#car_input_week_price_1').focus();
        	return false;
        }else if($('#car_input_week_price_1').val() <= 0){
        	alert("주중 1시간 대여료는 0보다 커야 합니다.");
        	$('#car_input_week_price_1').focus();
        	return false;
        }

        if( $('#car_input_weekend_price_1').val() == ''){
        	alert("주말 1시간 대여료를 입력해 주세요.");
        	$('#car_input_weekend_price_1').focus();
        	return false;
        }else if($('#car_input_weekend_price_1').val() <= 0){
        	alert("주말 1시간 대여료는 0보다 커야 합니다.");
        	$('#car_input_weekend_price_1').focus();
        	return false;
        }


       	if( $('#car_input_insurance_start_date_text').val() > $('#car_input_insurance_end_date_text').val()){
		    alert("보험 종료일이 보험 시작일보다 과거입니다.");
		    $('#car_input_insurance_end_date_text').val('');
		    $('#car_input_insurance_end_date_text').focus();
		    return false;
		 }


		var company_serial = get_company_serial();
		//기본 정보
        var car_status = $('#car_select_status option:selected').val(); //차량상태
        var maker_index =  $('#car_select_maker option:selected').val();
        var car_index = $('#car_select_car_model2 option:selected').val();//차종
        var car_register_number = $("#car_input_car_register_number").val(); //차대번호
        var car_birth_year = $('#car_select_car_birth').val(); //연식
        var color = $('#car_input_color').val(); //색상
        var max_people = $("#car_select_max_people").val(); //정원
        
        //요금제 정보
        var week_price = $('#car_input_week_price').val(); 
        var weekend_price = $('#car_input_weekend_price').val(); 
        var week_price_6 =  $('#car_input_week_price_6').val(); 
        var week_price_1 =  $('#car_input_week_price_1').val();
        var weekend_price_6 =  $('#car_input_weekend_price_6').val(); 
        var weekend_price_1 =  $('#car_input_weekend_price_1').val();  

        //보험 정보
        var insurance_company = $('#car_select_insurance_company').val(); //보험회사
        var require_age = $('#car_select_require_age').val(); //보험연령
        var insruance_text = $('#car_input_insurance_text').val(); //특약사항
     

        var insurance_persion1_compensation = $('#car_insurance_person1_compensation option:selected').text();
        var insurance_persion1_customer = $('#car_insurance_person1_customer option:selected').text();
        var insurance_persion2_compensation = $('#car_insurance_person2_compensation option:selected').text();
        var insurance_persion2_customer = $('#car_insurance_person2_customer option:selected').text();
        var insurance_object_compensation = $('#car_insurance_object_compensation option:selected').text();
        var insurance_object_customer = $('#car_insurance_object_customer option:selected').text();
        var insurance_children_compensation = $('#car_insurance_children_compensation option:selected').text();
        var insurance_children_customer = $('#car_insurance_children_customer option:selected').text();
        var insurance_self1_pay = $('#car_insurance_self1_pay option:selected').val();
        var insurance_self1_compensation = $('#car_insurance_self1_compensation option:selected').text();
        var insurance_self1_customer = $('#car_insurance_self1_customer option:selected').text();
        var insurance_self2_pay = $('#car_insurance_self2_pay option:selected').val();
        var insurance_self2_compensation = $('#car_insurance_self2_compensation option:selected').text();
        var insurance_self2_customer = $('#car_insurance_self2_customer option:selected').text();
        var insurance_self3_pay = $('#car_insurance_self3_pay option:selected').val();
        var insurance_self3_compensation = $('#car_insurance_self3_compensation option:selected').text();
        var insurance_self3_customer = $('#car_insurance_self3_customer option:selected').text();

        if($('#car_checkbox_person1').is(":checked")==false || $('#car_checkbox_object').is(":checked")==false || $('#car_checkbox_object').is(":checked")==false ){
        	alert("대인1,대물,자손 보험 정보는 필수입니다.");
        	return false;
        }

        // if($('#car_checkbox_person1').is(":checked")==true){
        // 	if(insurance_persion1_compensation=='' || insurance_persion1_customer=='')
        // 	{
        // 		alert("대인1 보험 정보를 입력해야 합니다.");
        // 		return false;
        // 	}
        // }
        // if($('#car_checkbox_person2').is(":checked")){
        // 	if(insurance_persion2_compensation=='' || insurance_persion2_customer=='')
        // 	{
        // 		alert("대인2 보험 정보를 입력해야 합니다.");
        // 		return false;
        // 	}
        // }
        // if($('#car_checkbox_object').is(":checked")){
        // 	if(insurance_object_compensation=='' || insurance_object_customer=='')
        // 	{
        // 		alert("대물 보험 정보를 입력해야 합니다.");
        // 		return false;
        // 	}
        // }
        // if($('#car_checkbox_object').is(":checked")){
        // 	if(insurance_children_compensation=='' || insurance_children_customer=='')
        // 	{
        // 		alert("자손 보험 정보를 입력해야 합니다.");
        // 		return false;
        // 	}
        // }
        // if($('#car_checkbox_self1').is(":checked")){
        // 	if(insurance_self1_pay=='' || insurance_self1_compensation=='' || insurance_self1_customer=='')
        // 	{
        // 		alert("자차1 보험 정보를 입력해야 합니다.");
        // 		return false;
        // 	}
        // }
        // if($('#car_checkbox_self2').is(":checked")){
        // 	if(insurance_self2_pay=='' || insurance_self2_compensation=='' || insurance_self2_customer=='')
        // 	{
        // 		alert("자차2 보험 정보를 입력해야 합니다.");
        // 		return false;
        // 	}
        // }



	//등록 모드이면
	if(is_car_modify_mode==false){
		



                //데이터 저장
                $.post("http://solution.rengo.co.kr/carmanager/register_car",
                {
                	company_serial : company_serial,
                	car_index : car_index,
                	maker_index : maker_index,
                	car_number : car_number,
                	car_status : car_status,
                	car_register_number : car_register_number,
                	max_people : max_people,
                	smoking : option_smoking,
                	gear_type : option_gear,
                	fuel_option : option_fuel,
                	release_year : car_birth_year,
                	color : color,
        			week_price : week_price,
        			weekend_price : weekend_price,
        			week_price_6 : week_price_6,
        			weekend_price_6 : weekend_price_6,
        			week_price_1 : week_price_1,
        			weekend_price_1 : weekend_price_1,
        			option_license1 : option_license_type,
        			minimun_drive_year : option_minimun_drive_year,
        			option_international_license : option_international_license,
        			option_second_driver : option_second_driver,
        			option_usb : option_usb,
        			option_navi : option_navi ,
        			option_bluetooth : option_bluetooth ,
        			// option_automatic_back_mirror : option_automatic_back_mirror,
        			option_hi_pass : option_hi_pass,
        			option_heatseat : option_heatseat ,
        			// option_gps : option_gps ,
        			// option_rear_sensor : option_rear_sensor ,
        			option_blackbox : option_blackbox ,
        			option_cdplayer : option_cdplayer,
        			option_backcamera : option_backcamera,
        			option_sunroof : option_sunroof ,
        			// option_lane_departure_warning : option_lane_departure_warning,
        			// option_automatic_seat : option_automatic_seat,
        			// option_front_sensor : option_front_sensor,
        			option_smart_key : option_smart_key,
        			// option_av_system : option_av_system,
        			option_aux : option_aux ,
        			// option_ecm : option_ecm,
        			// option_week_48 : option_week_48 ,
        			option_weekend_48 : option_weekend_48,
        			insurance_company : insurance_company,
        			requirement_age : require_age,
        			insurance_start_date : car_insurance_start_date,
        			insurance_end_date : car_insurance_end_date,
        			agreement_text : insruance_text,
        			insurance_man1_flag : ($('#car_checkbox_person1').is(":checked")) ? "Y" : "N" ,
        			insurance_man2_flag : ($('#car_checkbox_person2').is(":checked")) ? "Y" : "N" ,
        			insurance_object_flag : ($('#car_checkbox_object').is(":checked")) ? "Y" : "N" ,
        			insurance_children_flag : ($('#car_checkbox_children').is(":checked")) ? "Y" : "N" ,
        			insurance_self_flag : ($('#car_checkbox_self1').is(":checked")) ? "Y" : "N" ,
        			insurance_self2_flag : ($('#car_checkbox_self2').is(":checked")) ? "Y" : "N" ,
        			insurance_self3_flag : ($('#car_checkbox_self3').is(":checked")) ? "Y" : "N" ,
        			insurance_self_price : insurance_self1_pay,
        			insurance_self2_price : insurance_self2_pay,
        			insurance_self3_price : insurance_self3_pay,
        			insurance_man1_compensation : insurance_persion1_compensation,
        			insurance_man2_compensation : insurance_persion2_compensation,
        			insurance_object_compensation : insurance_object_compensation,
        			insurance_children_compensation : insurance_children_compensation,
        			insurance_self_compensation : insurance_self1_compensation,
        			insurance_self2_compensation : insurance_self2_compensation,
        			insurance_self3_compensation : insurance_self3_compensation,
        			insurance_man1_customer : insurance_persion1_customer,
        			insurance_man2_customer : insurance_persion2_customer,
        			insurance_object_customer : insurance_object_customer,
        			insurance_children_customer : insurance_children_customer,
        			insurance_self_customer : insurance_self1_customer,
        			insurance_self2_customer : insurance_self2_customer,
        			insurance_self3_customer : insurance_self3_customer,

        		},
        		function(data, status){
        			var result = JSON.parse(data);
        			if(result.code=="S01"){
        				alert("저장되었습니다.");

        				$('#car_input_dialog').modal('toggle');
        				grid_refresh_all();
        				getCount();
	
        			}else{
        				alert(result.message);
        			}

        		});

}else{

	var carGrid = $("#grid").data("kendoGrid");
	var row = carGrid.select();
	var data = carGrid.dataItem(row);

	$.post("http://solution.rengo.co.kr/carmanager/update_car",
	{
		serial : data.serial,
                                // car_index : car_index,
                                car_number : car_number,
                                car_status : car_status,
                                car_register_number : car_register_number,
                                max_people : max_people,
                                smoking : option_smoking,
                                gear_type : option_gear,
                                fuel_option : option_fuel,
                                release_year : car_birth_year,
                                color : color,
                                // day_price : day_price,
                                // hour_price : hour_price,
        						week_price : week_price,
			        			weekend_price : weekend_price,
			        			week_price_6 : week_price_6,
			        			weekend_price_6 : weekend_price_6,
			        			week_price_1 : week_price_1,
			        			weekend_price_1 : weekend_price_1,
			        			option_license1 : option_license_type,
			        			minimun_drive_year : option_minimun_drive_year,
			        			option_international_license : option_international_license,
			        			option_second_driver : option_second_driver,
			        			option_usb : option_usb,
			        			option_navi : option_navi ,
			        			option_bluetooth : option_bluetooth ,
			        			// option_automatic_back_mirror : option_automatic_back_mirror,
			        			option_hi_pass : option_hi_pass,
			        			option_heatseat : option_heatseat ,
			        			// option_gps : option_gps ,
			        			// option_rear_sensor : option_rear_sensor ,
			        			option_blackbox : option_blackbox ,
			        			option_cdplayer : option_cdplayer,
			        			option_backcamera : option_backcamera,
			        			option_sunroof : option_sunroof ,
			        			// option_lane_departure_warning : option_lane_departure_warning,
			        			// option_automatic_seat : option_automatic_seat,
			        			// option_front_sensor : option_front_sensor,
			        			option_smart_key : option_smart_key,
			        			// option_av_system : option_av_system,
			        			option_aux : option_aux ,
			        			// option_ecm : option_ecm,
			        			// option_week_48 : option_week_48 ,
			        			option_weekend_48 : option_weekend_48,
			        			insurance_company : insurance_company,
			        			requirement_age : require_age,
			        			insurance_start_date : car_insurance_start_date,
			        			insurance_end_date : car_insurance_end_date,
			        			agreement_text : insruance_text,
			        			insurance_man1_flag : ($('#car_checkbox_person1').is(":checked")) ? "Y" : "N" ,
			        			insurance_man2_flag : ($('#car_checkbox_person2').is(":checked")) ? "Y" : "N" ,
			        			insurance_object_flag : ($('#car_checkbox_object').is(":checked")) ? "Y" : "N" ,
			        			insurance_children_flag : ($('#car_checkbox_children').is(":checked")) ? "Y" : "N" ,
			        			insurance_self_flag : ($('#car_checkbox_self1').is(":checked")) ? "Y" : "N" ,
			        			insurance_self2_flag : ($('#car_checkbox_self2').is(":checked")) ? "Y" : "N" ,
			        			insurance_self3_flag : ($('#car_checkbox_self3').is(":checked")) ? "Y" : "N" ,
			        			insurance_self_price : insurance_self1_pay,
			        			insurance_self2_price : insurance_self2_pay,
			        			insurance_self3_price : insurance_self3_pay,
			        			insurance_man1_compensation : insurance_persion1_compensation,
			        			insurance_man2_compensation : insurance_persion2_compensation,
			        			insurance_object_compensation : insurance_object_compensation,
			        			insurance_children_compensation : insurance_children_compensation,
			        			insurance_self_compensation : insurance_self1_compensation,
			        			insurance_self2_compensation : insurance_self2_compensation,
			        			insurance_self3_compensation : insurance_self3_compensation,
			        			insurance_man1_customer : insurance_persion1_customer,
			        			insurance_man2_customer : insurance_persion2_customer,
			        			insurance_object_customer : insurance_object_customer,
			        			insurance_children_customer : insurance_children_customer,
			        			insurance_self_customer : insurance_self1_customer,
			        			insurance_self2_customer : insurance_self2_customer,
			        			insurance_self3_customer : insurance_self3_customer,

                            },
                            function(data, status){
                            	var result = JSON.parse(data);
                            	if(result.code=="S01"){
                            		alert("수정되었습니다.");

                            		$('#car_input_dialog').modal('toggle');
                            		grid_refresh_all();
                            		getCount();

                            	}else{
                            		alert(result.message);
                            	}

                            });
}

});

//차량 삭제 버튼 클릭 이벤트
$("#btn_car_delete").click(function(){


	var carGrid = $("#grid").data("kendoGrid");
	var row = carGrid.select();
	var data = carGrid.dataItem(row);
        //그리드에서 선택된게 없으면

        $.post("http://solution.rengo.co.kr/carmanager/delete_car",
        {
        	index : data.serial,
        },
        function(data, status){
        	var result = JSON.parse(data);
        	if(result.code=="S01"){
        		
        		$('#car_input_dialog').modal('toggle');
        		grid_refresh_all();
        		getCount();

        	}else{
        		alert("데이터 삭제 중 에러가 발생했습니다.");
        	}

        });

    });

/////////////////////////////////////// 차량 선택 dialog

//메이커 선택
$( "#car_select_maker" ).change(function() {


	var serial = $(this).val();
	$.get("/carmanager/get_car_model_list/"+serial,
		function(data){
			var result = JSON.parse(data);
			var text='';
                        //차 모델 select refresh
                        for(var i=0; i< result.length; i++){
                        	text += "<option >" + result[i].car_name +"</option>";
                        }
                        $( "#car_select_car_model1").html(text);
                        
                        //차 세부 모델 select refresh
                        var selectedCarModel = $("#car_select_car_model1 option:selected").text().trim();
                        $.get("/carmanager/get_car_model_detail_list/"+selectedCarModel,
                        	function(data2){
                        		var result2 = JSON.parse(data2);
                        		var text='';
                        		for(var i=0; i< result2.length; i++){
                        			text += "<option value='"+ result2[i].car_index + "'>" + result2[i].car_name_detail +"</option>";
                        		}
                        		$( "#car_select_car_model2").html(text);
                        	});
                        
                    });

});
//차량 모델 선택
$( "#car_select_car_model1" ).change(function() {


	var carmodel = $("#car_select_car_model1 option:selected").text().trim();
	$.get("/carmanager/get_car_model_detail_list/"+carmodel,
		function(data3){
			var result2 = JSON.parse(data3);
			var text='';
			for(var i=0; i< result2.length; i++){
				text += "<option value='"+ result2[i].car_index + "'>" + result2[i].car_name_detail +"</option>";
			}
			$( "#car_select_car_model2").html(text);
		});

});

//선택(저장) 버튼 클릭
$("#car_model_detail_select_btn").click(function(){
	var carIndex = $("#car_select_car_model2 option:selected").val();
	$.get("/carmanager/get_car_model/"+carIndex,
		function(data){
                        // alert(data);

                        $('#search_vehicles_dialog').modal('toggle');

                        var result = JSON.parse(data);
                        $("#car_input_car_type").val(result[0].car_type);
                        $("#car_input_car_model").val(result[0].car_name_detail);
                        // $("#car_select_max_people").val(result[0].car_people); //이제 정원은 car_list에서 저장받음

                    });

});

$("#car_car_select_btn").click(function(){
	if(is_car_modify_mode){
		
		alert("차량 수정은 불가능합니다.");
	}else{
		$('#search_vehicles_dialog').modal('toggle');
	}
});

/////////////////////////////////////// 옵션 선택 dialog


$("#car_input_option_save_btn").click(function(){
	var text=""
	option_fuel = $("#car_select_fuel").val();
	option_gear = $("#car_select_gear").val();
	option_smoking = $("#car_select_smoking").val();
	option_minimun_drive_year = $("#car_select_minimun_drive_year").val();
	option_license_type = $("#car_select_license_type").val();

	text += "<span class='label label-default'>" + option_fuel +"</span>  ";
	text += "<span class='label label-default'>" + option_gear +"</span>  ";

	if(option_smoking =='Y'){
		text += "<span class='label label-default'>흡연</span>  ";
	}else{
		text += "<span class='label label-default'>금연</span>  ";
	}

	text += "<span class='label label-default'>면허취득" + option_minimun_drive_year +"년이상</span>  ";

	if(option_license_type =='Y'){
		text += "<span class='label label-default'>1종 보통면허 이상</span>  ";
	}else{
		text += "<span class='label label-default'>2종 보통면허 이상</span>  ";
	}
	
	//옵션
	if($('#car_checkbox_navi').is(":checked")){
		text += "<span class='label label-default'>네비게이션</span>  ";
		option_navi = "Y";
	}else{
		option_navi = "N";
	}
	if($('#car_checkbox_backcamera').is(":checked")){
		text += "<span class='label label-default'>후방카메라</span>  ";
		option_backcamera = "Y";
	}else{
		option_backcamera = "N";
	}
	if($('#car_checkbox_blackbox').is(":checked")){
		text += "<span class='label label-default'>블랙박스</span>  ";
		option_blackbox = "Y";
	}else{
		option_blackbox = "N";
	}
	if($('#car_checkbox_hi_pass').is(":checked")){
		text += "<span class='label label-default'>하이패스</span>  ";
		option_hi_pass = "Y";
	}else{
		option_hi_pass = "N";
	}
	if($('#car_checkbox_bluetooth').is(":checked")){
		text += "<span class='label label-default'>블루투스</span>  ";
		option_bluetooth = "Y";
	}else{
		option_bluetooth = "N"; 
	}
	if($('#car_checkbox_cdplayer').is(":checked")){
		text += "<span class='label label-default'>CD</span>  ";
		option_cdplayer = "Y";
	}else{
		option_cdplayer = "N";
	}
	if($('#car_checkbox_aux').is(":checked")){
		text += "<span class='label label-default'>AUX</span>  ";
		option_aux = "Y";
	}else{
		option_aux = "N";
	}
	if($('#car_checkbox_usb').is(":checked")){
		text += "<span class='label label-default'>USB</span>  ";
		option_usb = "Y";
	}else{
		option_usb = "N";
	}
	if($('#car_checkbox_heatseat').is(":checked")){
		text += "<span class='label label-default'>열선시트</span>  ";
		option_heatseat = "Y";
	}else{
		option_heatseat = "N";
	}
	if($('#car_checkbox_sunroof').is(":checked")){
		text += "<span class='label label-default'>썬루프</span>  ";
		option_sunroof = "Y";
	}else{
		option_sunroof = "N";
	}
	if($('#car_checkbox_smart_key').is(":checked")){
		text += "<span class='label label-default'>스마트키</span>  ";
		option_smart_key = "Y";
	}else{
		option_smart_key = "N";
	}

	// if($('#car_checkbox_automatic_back_mirror').is(":checked")){
	// 	text += "<span class='label label-default'>전동백미러</span>  ";
	// 	option_automatic_back_mirror = "Y";
	// }else{
	// 	option_automatic_back_mirror = "N";
	// }
	
	// if($('#car_checkbox_gps').is(":checked")){
	// 	text += "<span class='label label-default'>GPS</span>  ";
	// 	option_gps = "Y";
	// }else{
	// 	option_gps = "N";
	// }
	// if($('#car_checkbox_rear_senser').is(":checked")){
	// 	text += "<span class='label label-default'>후방감지기</span>  ";
	// 	option_rear_sensor = "Y";
	// }else{
	// 	option_rear_sensor = "N";
	// }
	// if($('#car_checkbox_lane_departure_warning').is(":checked")){
	// 	text += "<span class='label label-default'>차선이탈</span>  ";
	// 	option_lane_departure_warning = "Y";
	// }else{
	// 	option_lane_departure_warning = "N";
	// }
	// if($('#car_checkbox_automatic_seat').is(":checked")){
	// 	text += "<span class='label label-default'>전동시트</span>  ";
	// 	option_automatic_seat = "Y";
	// }else{
	// 	option_automatic_seat = "N";
	// }
	// if($('#car_checkbox_front_senser').is(":checked")){
	// 	text += "<span class='label label-default'>전방감지기</span>  ";
	// 	option_front_sensor = "Y";
	// }else{
	// 	option_front_sensor = "N";
	// }
	// if($('#car_checkbox_av_system').is(":checked")){
	// 	text += "<span class='label label-default'>AV시스템</span>  ";
	// 	option_av_system = "Y";
	// }else{
	// 	option_av_system = "N";
	// }
	// if($('#car_checkbox_ecm').is(":checked")){
	// 	text += "<span class='label label-default'>ECM</span>  ";
	// 	option_ecm = "Y";
	// }else{
	// 	option_ecm = "N";
	// }
	// if($('#car_checkbox_week_48').is(":checked")){
	// 	text += "<span class='label label-default'>주중48시간</span>  ";
	// 	option_week_48= "Y";
	// }else{
	// 	option_week_48 = "N";
	// }
	if($('#car_checkbox_weekend_48').is(":checked")){
		text += "<span class='label label-default'>주말48시간</span>  ";
		option_weekend_48 = "Y";
	}else{
		option_weekend_48 = "N";
	}
	if($('#car_checkbox_second_driver').is(":checked")){
		text += "<span class='label label-default'>제2운전자등록가능</span>  ";
		option_second_driver = "Y";
	}else{
		option_second_driver = "N";
	}
	if($('#car_checkbox_international_license').is(":checked")){
		text += "<span class='label label-default'>국제운전면허증가능</span>  ";
		option_international_license = "Y";
	}else{
		option_international_license = "N";
	}

	

	$("#car_div_option").html(text);

        //입력 다이얼로그 닫기
        $('#car_registration_option_dialog').modal('toggle');
    });


// $('.checkbox-inline').click(function(){
// 	$(this).children().eq(0).css('font-weight','700');
// });

function calc_rental_charge(percent_6h,percent_1h,sel){
	var input_id, first_6h, second_6h, first_1h, second_1h;
	switch(sel){
		case 'week':
			input_id='24h_f';
			first_6h='week_6h_f';
			second_6h='week_6h_s';
			first_1h='week_1h_f';
			second_1h='week_1h_s';
			break;
		case 'weekend':
			input_id='24h_s';
			first_6h='weekend_6h_f';
			second_6h='weekend_6h_s';
			first_1h='weekend_1h_f';
			second_1h='weekend_1h_s';
			break;
	}

	var percent_6h=parseInt(percent_6h);
	var percent_1h=parseInt(percent_1h);
	var input_val=parseInt($('#'+input_id).val());

	if(isNaN(input_val)){ input_val=0; }
	
	var result_6h = input_val*percent_6h/100;
	var result_1h = input_val*percent_1h/100;

	$('#'+first_6h).val(input_val+"x"+percent_6h+"% = ");
	$('#'+second_6h).val(result_6h);

	$('#'+first_1h).val(input_val+"x"+percent_1h+"% = ");
	$('#'+second_1h).val(result_1h);
}

$('#24h_f').keyup(function(){
	calc_rental_charge(50,10,'week');
})

$('#24h_s').keyup(function(){
	calc_rental_charge(60,20,'weekend');
})



$('#car_input_dialog').on('shown', function () {
    $("#modal_content").scrollTop(0);
});

</script>