<!-- Modal -->
<div class="modal fade" id="history_check_dialog" role="dialog">
	<div class="modal-dialog modal_dialog500">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button id="check_history_close_btn" type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="check_history_dialog_title" class="modal-title">점검 내역 등록</h4>
			</div>
			<div class="modal-body">

				<div class="row rent_input">
					<div class="row">
						<div class="col-md-12">
							<form class="form-horizontal">
								<div class="form-group">

									<label for="" class="col-sm-2 control-label text-left">*검사항목</label>
									<div class="col-sm-10">
										<select id="check_select_type" class="form-control">
											<option>연장검사</option>
											<option>정기검사</option>
											<option>정밀검사</option>
											<option>기타정사</option>
											<option>종합검사</option>
										</select>
									</div>
								</div>
							</form>
						</div>

						<div class="col-md-12">
							<form class="form-horizontal">
								<div class="form-group">

									<label for="" class="col-sm-2 control-label text-left">*검사일시</label>
									<div class="col-sm-10">
										<div class="input-group date">
											<input type='text' class="form-control" id="check_date" data-date-format="yyyy년 mm월 dd일" readonly placeholder="점검 날짜" style="background:#FFF;"/>
											<span class="input-group-addon">
												<span class="glyphicon glyphicon-calendar"></span>
											</span>
											<script language="javascript">
								                $('#check_date').datepicker({
								                  navTitles: {
								                   days: 'yyyy년 mm월'
								                 },
								                      //  todayButton: new Date(),
								                      clearButton: true,
								                      closeButton: true,
								                      language: 'en',
								                       onSelect: function (fd, d, picker) {
							                              // Do nothing if selection was cleared
							                              if (!d) return;
							                              check_date = d.getFullYear()+"-"+zeroPad(d.getMonth()+1,2)+"-"+zeroPad(d.getDate(),2);
							                            }

								                 })
							                 </script>
											<!-- <script type="text/javascript">
												$(function () {
													$('#datetimepicker').datetimepicker({
														locale: 'ko',
														format: 'YYYY년 MM월 DD일'
													});
												});
											</script> -->
										</div>
									</div>
								</div>
							</form>
						</div>


									<div class="col-md-12">
							<form class="form-horizontal">
								<div class="form-group">

									<label for="" class="col-sm-2 control-label text-left">검사결과</label>
									<div class="col-sm-10">
										<input type='text' class="form-control"  id='text_result' />
									</div>
									</div>
									</form>
									</div>


						<div class="col-md-12">
							<form class="form-horizontal">
								<div class="form-group">
									<label for="" class="col-sm-2 control-label text-left">검사비용</label>
									<div class="col-sm-10 year">
										<input type='number' class="form-control" id='text_pay'>
										<span>원</span>
									</div>
								</div>
							</form>
						</div>

					</div>
				</div>

			</div>
			<div class="modal-footer">
				<button id="check_history_delete_btn" type="button" class="btn btn-danger">삭제</button>
				<button id="check_history_close_btn" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				<button id="check_history_save_btn" type="button" class="btn action_btn">저장</button>
			</div>
		</div>
	</div>
</div>
<script>
	
	
$("#check_history_save_btn").click(function() {

	//선택된 차정보
	var carGrid = $("#grid").data("kendoGrid");
	var row = carGrid.select();
	var carData = carGrid.dataItem(row);

	//선택된 내역정보
	var historyGrid = $("#grid_history").data("kendoGrid");
	var historyRow = historyGrid.select();
	var historyData = historyGrid.dataItem(historyRow);

	//나머지 다이얼로그 정보
	if($('#check_date').val()==''){
			alert("점검 날짜는 꼭 입력해야 합니다.");
			$('#check_date').focus();
			return false;
	}
	// var checkedYaer = checkDate.substring(0,4);
	// var checkedMonth = checkDate.substring(6,8);
	// var checkedDay = checkDate.substring(10,12);

	// var selectDate = new Date(checkedYaer+"-"+checkedMonth+"-"+checkedDay); 
	var type = $('#check_select_type option:selected').val();



	// var period = $('#check_select_period option:selected').val(); 

	//주기 글자 길이 구해서 길면 개월, 짧으면 년
	// if(period.length==3){
	// 	var month = parseInt(period.substring(0,1));
	// 	selectDate.setMonth(selectDate.getMonth() + month);
	// }else{
	// 	var month = parseInt(period.substring(0,1))*12;
	// 	selectDate.setMonth(selectDate.getMonth() + month);
	// }


	
	var pay = $('#text_pay').val();
	var result = $('#text_result').val();
	if(is_history_register == true){	


		$.post("http://solution.rengo.co.kr/carmanager/register_check_history",
        	{
        			car_serial : carData.serial,
        			type : type,
					check_date : check_date ,
					pay : pay,
					result :  result
			},
			function(data, status){
					var result = JSON.parse(data);
					if(result.code=="S01"){
						alert("저장되었습니다.");
						$("#check_history_close_btn").trigger({ type: "click" });
						//데이터 다시 읽어옴
						refresh_check_history();    
					}else if(result.code=="E02"){
						alert("이미 같은 내역이 같은 날짜에 등록되어 있습니다.");
					}else{
						alert("데이터 저장 중 에러가 발생했습니다.");
					}

		});
	}else if(is_history_register == false){//수정이면

		$.post("http://solution.rengo.co.kr/carmanager/update_check_history",
        	{
        			serial : historyData.serial,
        			car_serial : carData.serial,
        			type : type,
					check_date : check_date,
					pay : pay,
					result :  result
			},
			function(data, status){
					// alert(data);
					var result = JSON.parse(data);
					if(result.code=="S01"){
						alert("수정되었습니다.");
						$("#check_history_close_btn").trigger({ type: "click" });
						//데이터 다시 읽어옴
						refresh_check_history();    
					}else{
						alert("데이터 수정 중 문제가 발생했습니다.");
					}

		});
	}else{
		alert('에러');
	}
	
});

//점검 내역 삭제 버튼
$("#check_history_delete_btn").click(function() {

	//grid에서 id 얻어오기
	var grid = $("#grid_history").data("kendoGrid");
	var row = grid.select();
	var data = grid.dataItem(row);


	$.post("/carmanager/delete_check_history",
       {
        			index : data.serial
		},
		function(data, status){
			var result = JSON.parse(data);
			if(result.code=="S01"){
				alert("삭제되었습니다.");
				//데이터 다시 읽어옴
				refresh_check_history();
				$('#history_check_dialog').modal('toggle'); //점검 내역 팝업    
			}else{
				alert("데이터 저장 중 에러가 발생했습니다.");
			}

	});


});
</script>