<!-- Modal -->
<div class="modal fade" id="history_emergency_dialog" role="dialog">
	<div class="modal-dialog modal_dialog500">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button id="emergency_history_close_btn" type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 id="emergency_history_dialog_title" class="modal-title">현장출동 등록</h4>
			</div>
			<div class="modal-body bt_ccc">
        <!-- <div class="row"><div class="col-sm-12"><h4>출동내역</h4></div></div> -->
				<div class="row">
					<div class="col-sm-12 pdt15">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">*출동일시</label>
								<div class="col-sm-10">
									<div class='input-group date' >
											<input type='text' class="form-control" id="emergency_time" data-date-format="yyyy년 mm월 dd일" readonly placeholder="출동 날짜" style="background:#FFF;"/>
											<span class="input-group-addon">
													<span class="glyphicon glyphicon-calendar"></span>
											</span>
									</div>
									<script language="javascript">
		                                $('#emergency_time').datepicker({
		                                  navTitles: {
		                                   days: 'yyyy년 mm월'
		                                 },
		                                      //  todayButton: new Date(),
		                                      clearButton: true,
		                                      closeButton: true,
		                                      timepicker: true,
		                                      language: 'en',
		                                      minutesStep: 5,
		                                       onSelect: function (fd, d, picker) {
		                                            // Do nothing if selection was cleared
		                                            if (!d) return;
		                                            
		                                            emergency_time = d.getFullYear()+"-"+zeroPad(d.getMonth()+1,2)+"-"+zeroPad(d.getDate(),2) +" " + zeroPad(d.getHours()) +":"+ zeroPad(d.getMinutes()) + ":00";
		                                            // alert(accident_time);
		                                          }

		                                 })
		                               </script>
									<!-- <script type="text/javascript">
										 $(function () {
												$('#emergency_input_exchange_date').datetimepicker({
													 locale: 'ko',
													 format: 'YYYY년 MM월 DD일 HH시 MM분'
												});
										 });
									</script> -->
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">*출동장소</label>
								<div class="col-sm-10">
									<input type="" id='emergency_input_place' class="form-control" value="">
								</div>
							</div>
						</form>
					</div>
					<div class="col-sm-12">
						<form class="form-horizontal">
							<div class="form-group">
								<label for="" class="col-sm-2 control-label text-left">출동내용</label>
								<div class="col-sm-10">
									<textarea id='emergency_input_detail' class="form-control" rows="3"></textarea>
								</div>
							</div>
						</form>
					</div>



				</div>
      </div>

			<div class="modal-footer">
				<button id="emergency_delete_btn" type="button" class="btn btn-danger">삭제</button>
				<button id="emergency_close_btn" type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
				<button id="emergency_save_btn" type="button" class="btn btn-primary">저장</button>
			</div>

		</div>
	</div>
</div>
<script>
	
//정비내역 등록, 수정
$("#emergency_save_btn").click(function() {

	

		//선택된 차정보
	var carGrid = $("#grid").data("kendoGrid");
	var row = carGrid.select();
	var carData = carGrid.dataItem(row);

	//선택된 내역정보
	var historyGrid = $("#grid_history").data("kendoGrid");
	var historyRow = historyGrid.select();
	var historyData = historyGrid.dataItem(historyRow);

	

	//나머지 다이얼로그 정보
	// var startDate = $('#emergency_input_exchange_date').data('date');
	// var selectDate = $('#emergency_input_exchange_date').data("DateTimePicker").date();
	// return false;
	if($('#emergency_time').val()==''){
		alert("출동일시는 반드시 입력해야 합니다.");
		$('#emergency_time').focus();
		return false;
	}

	// var checkedYaer = startDate.substring(0,4);
	// var checkedMonth = startDate.substring(6,8);
	// var checkedDay = startDate.substring(10,12);
	// var checkedHour = startDate.substring(14,16);
	// var checkedMinute = startDate.substring(18,20);

	


	if($('#emergency_input_place').val()==''){
		alert("출동장소는 반드시 입력해야 합니다.");
		$('#emergency_input_place').focus();
		return false;
	}



	//등록
	if(is_history_register == true){	

		//유효성 검사
		// if(checkDate==null){
		// 	alert("점검 날짜는 꼭 입력해야 합니다.");
		// 	return false;
		// }	
		$.post("http://solution.rengo.co.kr/carmanager/register_emergency_history",
        	{
        			car_serial : carData.serial,
					date : emergency_time,
					place : $('#emergency_input_place').val(),
					detail : $('#emergency_input_detail').val(),
			},
			function(data, status){
					var result = JSON.parse(data);
					if(result.code=="S01"){
						alert("저장되었습니다.");
						$("#emergency_history_close_btn").trigger({ type: "click" });
						//데이터 다시 읽어옴
						refresh_emergency_history();    
					}else{
						alert(result.message);
					}

		});


	}else{//수정
		//유효성 검사
		// if(checkDate==null){
		// 	alert("점검 날짜는 꼭 입력해야 합니다.");
		// 	return false;
		// }	
		$.post("http://solution.rengo.co.kr/carmanager/update_emergency_history",
        	{
        			serial : historyData.serial,
        			car_serial : carData.serial,
					date : emergency_time,
					place : $('#emergency_input_place').val(),
					detail : $('#emergency_input_detail').val(),
			},
			function(data, status){
					var result = JSON.parse(data);
					if(result.code=="S01"){
						alert("수정되었습니다.");
						$("#emergency_history_close_btn").trigger({ type: "click" });
						//데이터 다시 읽어옴
						refresh_emergency_history();    
					}else{
						alert("데이터 수정 중 문제가 발생했습니다.");
					}

		});

	}
});

//소모품교환 삭제
$("#emergency_delete_btn").click(function() {
		//grid에서 id 얻어오기
	var grid = $("#grid_history").data("kendoGrid");
	var row = grid.select();
	var data = grid.dataItem(row);


	$.post("http://solution.rengo.co.kr/carmanager/delete_emergency_history",
       {
        		index : data.serial
		},
		function(data, status){
			var result = JSON.parse(data);
			if(result.code=="S01"){
				alert("삭제되었습니다.");
				//데이터 다시 읽어옴
				refresh_emergency_history();
				$('#history_emergency_dialog').modal('toggle'); //점검 내역 팝업    
			}else{
				alert("데이터 삭제 중 에러가 발생했습니다.");
			}

	});
});
	
</script>